<!DOCTYPE html>
<html lang="en">

  <%- include zs_head_meta.ejs %>
  <%- include zs_external_scripts %>

  <% var qld = all_user_data.user_main_column_data.user_list_data %>

  <% var title_str = "All Users"; %>
  
  <head>
    <title> <%= title_str %> - Zorsay</title>
  </head>

  <body>
    <!-- Notification on Page Begin -->
    <%- include zs_global_notification.ejs %>
    <!-- Notification on Page Ends -->
    
    <!-- ZS all Question Page begin -->
    <section id="zs-all-question-page">

      <% /*console.log(all_user_data.user_main_column_data)*/ %>

      <!-- ZS Fixed navbar begin -->
      <%/*- include zs_navbar.ejs */%>
      <%/*- rendered_include('views/zs_navbar.ejs', {navbar_data: navbar_data}) */%>
      <%- rendered_include('views/zs_navbar.ejs', {navbar_data: all_user_data.navbar_data}) %>
      <%/*- rendered_include('views/zs_navbar.ejs', {navbar_data: {user_info: {name: {first: "Vinit", last: "Agrawal"}, pub_id: 13731 }, }, }) */%>

      <div class="container">

        <!-- ZS top header begin -->
        <%- include zs_top_header.ejs %>
        <!-- ZS top header end -->

        <!-- ZS all question listing begin -->
        
        <section id="all-question">

          <%- include zs_banner_take_tour.ejs %>
          
          <!-- Question main row begin -->
          <div class="row">
            <% /*console.log("cccccccccccccccccccccccccccccccccccccccccccccc")*/ %>
            <% /*console.log(all_user_data.loggedIn)*/ %>
            <!-- Question main column begin -->
            <%/*- include zs_user_main_column.ejs */%>
            <%- rendered_include('views/zs_user_main_column.ejs', {user_main_column_data: all_user_data.user_main_column_data,
              list_order: all_user_data.list_order,
              user_info: all_user_data.navbar_data.user_info,
              loggedIn: all_user_data.loggedIn,
              }) %>
            <!-- Question main column end -->

            <!-- Question right sidebar begin -->
            <%/*- include zs_right_short_sidebar.ejs*/ %>
            <%/*- rendered_include('views/zs_right_sidebar_populated.ejs', {
              side_bar_data: side_bar_data
              })*/ %>
            <!-- Question right sidebar end -->            
          </div>
          <!-- Question main row end -->
        </section>
        <!-- ZS all question listing end -->
      </div>
      <!-- div class="container" end -->
    </section>
    <!-- section id="zs-all-question-page" end -->
    
    <!-- ZS Page Footer begin -->
    <div id="zs_some_footer"></div>
    <%/*- include zs_end_footer.ejs */%>
    <!-- ZS Page Footer end -->

    <!-- ZS all Question Page end -->

    <%//- include zs_login_modal.ejs %>
    <%//- include zs_register_modal.ejs %>
    <%//- include zs_forgot_password_modal.ejs %>

    <!-- start loading and running the scripts -->
    <script data-main="/js/zs_all_user_page" type="text/javascript" src="/js/libs/require.js"></script>

  </body>
</html>