<!DOCTYPE html>
<html lang="en">

  <%- include zs_head_meta.ejs %>
  <%- include zs_external_scripts %>

  <head>
    <title>About Zorsay - Zorsay</title>
  </head>

  <body>
    <!-- Notification on Page Begin -->
    <%- include zs_global_notification.ejs %>
    <!-- Notification on Page Ends -->
    
    <!-- ZS single Shopex Page begin -->
    <section id="zs-about-zorsay-page">

      <!-- ZS Fixed navbar begin -->
      <%- rendered_include('views/zs_navbar.ejs', {navbar_data: about_zorsay_page_data.navbar_data}) %>
      <!-- ZS Fixed navbar end -->

      <div class="container">

        <!-- ZS top header begin -->
        <%- include zs_top_header.ejs %>
        <!-- ZS top header end -->
            
        
        <%- rendered_include('views/zs_about_zorsay.ejs') %>

      </div> <!-- div class="container" end -->
    </section> <!-- section id="zs-about-zorsay-page" end -->
    
    <!-- ZS Page Footer begin -->
    <div id="zs_some_footer"></div>
    <%/*- include zs_end_footer.ejs */%>
    <!-- ZS Page Footer end -->
    
    <!-- start loading and running the scripts -->
    <script data-main="/js/zs_about_zorsay_page" type="text/javascript" src="/js/libs/require.js"></script>

  </body>
</html>