<table class="table table-condensed usr-profile">
  <h4>Account Information</h4>
  <tbody>
    <tr>
      <td class="col-xs-2 usr-param">Name</td>
      <td class="usr-data">
        <%= user_account.name.first %> <%= user_account.name.last %>
      </td>
    </tr>
    

    <%// console.log("mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm") %>
    <% if(hasValue(user_account.created_at)) { %>
      <tr>
        <td class="col-xs-1 usr-param">Joined On</td>
        <td class="usr-data">
          <%= user_account.created_at %>
          <%//= typeof(user_account.created_at) %>
        </td>
      </tr>
    <% } %>

    <tr>
      <td class="col-xs-1 usr-param">Bio</td>
      <td class="usr-data">
          <%= user_account.aboutme ? user_account.aboutme : "N/A" %>
      </td>
    </tr>

    <tr>
      <td class="col-xs-1 usr-param">Area Code</td>
      <td class="usr-data">
        <%= user_account.areacode ? user_account.areacode : "N/A" %>
      </td>                    
    </tr>

    <tr>
      <td class="col-xs-1 usr-param">Email</td>
      <td class="usr-data"><%= user_account.email %></td>
      <% if(hasValue(user_account.verified) && !user_account.verified) { %>
        <td class="usr-data">
          <a href="#">verify email</a>
        </td>
      <% } %>
    </tr>
    <tr>
      <td class="col-xs-1 usr-param">Password</td>
      <td class="usr-data"><a href="">Reset Password</a></td>                    
    </tr>
  </tbody>
</table>