<%// console.log("llllllllllllllllllllllllllll") %>
<%// console.log(comment_data) %>
<%// console.log("llllllllllllllllllllllllllll") %>
<%// if(typeof(comment_data._author) == 'object') { %>
<%// console.log("mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm") %>

<div id="Comment_<%= comment_data._id %>" class="post-div comment-div single-comment" post="comment" num="<%=comment_data._id%>" parent="<%=comment_data._parent_name+'_'+comment_data._parent_id%>">

<!-- <a href="/comment/<%= comment_data._id + "/" + comment_data._author.url_name %>"> -->
  <%// console.log(comment_data) %>
  <% if(typeof(comment_data._author) == 'object') { %>
    <a href="/user/<%= comment_data._author._id+ "/" + comment_data._author.url_name %>">
      <div class="usr_profile_img_container_30" style="display: inline-block;">
        <img class="profile-img comment-img" src="<%= comment_data._author.img_icon_url %>" alt="<%= comment_data._author.fullname %>">
      </div>
    </a>
  <% } else { %>
    <a href="/user/<%= comment_data._author+ "/account"  %>">
      <div class="usr_profile_img_container_30" style="display: inline-block;">
        <img class="profile-img comment-img" src="/img/newuser.jpg" alt="<%= comment_data._author %>">
      </div>
    </a>
  <% } %>

<a class="comment-upvoteoff hidden" action"" href=""><span class="glyphicon glyphicon-chevron-up"></a>
 <a class="comment-downvoteoff hidden" action"" href=""><span class="glyphicon glyphicon-chevron-down"></a>

<div class="profile-name">
  <% if(typeof(comment_data._author) == 'object') { %>
    <a href="/user/<%= comment_data._author._id+ "/" + comment_data._author.url_name %>">
      <%= comment_data._author.fullname %>
    </a>
  <% } else { %>
    <a href="/user/<%= comment_data._author+ "/account" %>">
      <%= comment_data._author %>
    </a>
  <% } %>
</div>

<div class="full-comment comment_text_edit_content note-editable" key="content_text">
  <p><%- comment_data.content_text %></p>
</div>
<div class="comment-footer">
  <!-- <span>
    <input class="comment-reply" placeholder="Reply...">
  </span> 
  -->                        
  
  
  <!-- <span class="flag_comment"><a href="#">Flag</a></span>
  <span class="edit_comment"><a href="#">Edit</a></span>
  <span class="permalink_comment"><a href="#"><%= comment_data.created_at.toDateString() %></a></span>
   -->

  <span><a href="#" class="zs_post_report hidden">Flag</a></span>
  <span><a href="#" class="zs_post_share">Share</a></span>
  <%/* if(user_info && comment_data._author && comment_data._author._id == user_info._id) { */%>
  <% if(AccessControl.postEditPermission(comment_data, user_info)) { %>
    <span id="comment_text_edit" class="edit"><a>Edit</a></span>
  <% } %>
  <span id="permalink"><a target="_blank" href="/comment/<%=comment_data._id%>" class="permalink_comment">
    <%//= comment_data.created_at.toDateString().split(" ")[0] %>
    <%//= comment_data.created_at.toDateString() %>
    <%//= comment_data.created_at.toTimeString() %>
    <%= formatTime(comment_data.updated_at) %>
    <%//= comment_data.created_at %>
  </a></span>
  <% if(AccessControl.postAdminPermission(comment_data, user_info)) { %>
    <span id="comment_delete" class="delete edit pull-right"><a>Delete</a></span>
  <% } %>

</div>


<!-- Comments Begin -->

  <% if (false) { // see for comment_data.reply === true %>
    <div class="reply-on-comment">
      <% //comment_data._comments = comment_data._comments %>

      <% var i = 0; %>
      <% for(i = 0; i < comment_data._comments.length; ++i) { %>
          
        <% console.log(i) %>
        <%// console.log("jjjjjjjjjjjjjjjjjjj") %>
        <%// (function(comment_data._comments, i) { %>      
          <%// console.log(i) %>
          <%// console.log(comment_data._comments.length) %>
          <% console.log("ooooooooooooooooooooooooooooooooo") %>
          <% console.log({comment_data: comment_data._comments[i]}) %>
          <% console.log("ooooooooooooooooooooooooooooooooo") %>

          <div class="comment add-comment" id="comment_<%=comment_data._comments[i].pub_id%>">
            <% if(hasValue(comment_data._comments[i])) { %>
              <%- rendered_include('views/zs_comment.ejs', {comment_data: comment_data._comments[i],
                user_info: comment_container_data.user_info,}) %>
            <% } %>
          </div>
          <%// console.log("=====================================") %>
          <%// console.log(i) %>
          <%// console.log(comment_data._comments.length) %>
          <%// console.log(comment_data._comments) %>
        <%// })(comment_data._comments, i); %>
        <%// console.log("iiiiiiiiiiiiiiiiiiiiiiiiiiiiii") %>
        <%// console.log(i) %>        
        <%// console.log(comment_data._comments) %>        
        

      <% } %>

    </div>
  <% } %>

<!-- Comments End -->
<%// } %>

</div>