<!DOCTYPE html>
<html lang="en">

  <%- include zs_head_meta.ejs %>
  <%- include zs_external_scripts %>
  
  <% var sd = single_shopex_page_data.single_shopex_data.shopex_data; %>

  <% var primary_author = sd._author ? sd._author.fullname : "" %>
  <% var title_str = ""; %>
  <% var description_str = ""; %>
  <% var keywords_list_str = ""; %>
  <% var share_image = ""; %>

  <%
    var shopex_title = "";
    if (sd.content_title) {
        shopex_title = sd.content_title;
    } else {
      shopex_title = "Online Shopping for ";

      for(var i = 0; i < sd._pro_cat.length; ++i) {
        shopex_title += sd._pro_cat[i].url_name;
        shopex_title += (i < sd._pro_cat.length - 1) ? ', ' : '';
      }
      
      for(var i = 0; i < sd._ser_cat.length; ++i) {
        content_title += procat_docs.length > 0 ? ", " : "";
        shopex_title += sd._ser_cat[i].url_name;
        shopex_title += (i < sd._ser_cat.length - 1) ? ', ' : '';
      }

      shopex_title += " from ";
      shopex_title += sd._seller.url_name;
    }

    if(primary_author){
      title_str += primary_author + "'s ";
    }
    title_str += shopex_title;
  %>

  <% 
    var share_default_image = share_default_square_image;

    var content_img_regexObj = (/\<img[^\>]+\>/.exec(sd.content_text));
    var content_img_html =  content_img_regexObj ? content_img_regexObj[0] : "";

    if (content_img_html) {
      var img_url_regex = content_img_html.match(/src\s*=\s*\"([^\"]+)\"/);
      if (img_url_regex){
        share_image = img_url_regex[1];
      } else {
        share_image = share_default_image; 
      }
    } else {
      share_image = share_default_image; 
    }
  %>

  <%
    var sxtext = truncateStr(sd.content_text.replace(/\"/g, '\''), 300);
    if (sxtext){
      description_str = sxtext;
    } else {
      description_str = getShopexRatingDesc(sd);
    }
  %>

  <%
    var keywords_list_arr = ["Online Shopping", "Shopping Experience"];

    keywords_list_arr.push(sd._seller ? sd._seller.name : "");

    for(var i = 0; i < sd._pro_cat.length; ++i) {
      keywords_list_arr.push(sd._pro_cat[i].name);
    }
    for(var i = 0; i < sd._ser_cat.length; ++i) {
      keywords_list_arr.push(sd._ser_cat[i].name);
    }
    for(var i = 0; i < sd._pro.length; ++i) {
      keywords_list_arr.push(sd._pro[i].name);
    }
    for(var i = 0; i < sd._ser.length; ++i) {
      keywords_list_arr.push(sd._ser[i].name);
    }
    keywords_list_arr.push(primary_author);
    keywords_list_str = makeStr(keywords_list_arr);
  %>

  <head>
    <title> <%= title_str %> - Zorsay </title><!-- #TODO#DONE put full shopex title-->

    <meta name="keywords" content="<%= keywords_list_str %>">
    <meta name="description" content="<%= description_str %>">
    <meta name="author" content="<%= primary_author %>">
    <link rel="canonical" href="<%= page_info ? page_info.page_link : '' %>">

    <meta property="og:title" content="<%= title_str %>"/><!-- 95 chars -->
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="<%= share_image %>"/>
    <!-- specify a square image to ensure the best visibility -->
    <meta property="og:url" content="<%= page_info ? page_info.page_link : '' %>"/>
    <meta property="og:description" content="<%= description_str %>"/><!-- 297 chars-->
    
    <meta property="fb:admins" content="683593457,674922635874976"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="<%= page_info ? page_info.page_link : '' %>">
    <meta name="twitter:title" content="<%= title_str %>"><!-- 70 chars -->
    <meta name="twitter:description" content="<%= description_str %>"><!-- 200 chars -->
    <meta name="twitter:image" content="<%= share_image %>">
    <!-- specify a square image no smaller than 60×60 pixels -->
    <meta name="twitter:domain" content="zorsay.com">
  </head>

  <body>
    <!-- Notification on Page Begin -->
    <%- include zs_global_notification.ejs %>
    <!-- Notification on Page Ends -->
    
    <!-- ZS single Shopex Page begin -->
    <section id="zs-single-shopex-page">

      <% /*console.log(all_shopex_data.shopex_main_column_data) */%>

      <!-- ZS Fixed navbar begin -->
      <%/*- include zs_navbar.ejs */%>
      <%/*- rendered_include('views/zs_navbar.ejs', {navbar_data: navbar_data}) */%>
      <%- rendered_include('views/zs_navbar.ejs', {navbar_data: single_shopex_page_data.navbar_data}) %>
      <%/*- rendered_include('views/zs_navbar.ejs', {navbar_data: {user_info: {name: {first: "Vinit", last: "Agrawal"}, pub_id: 13731 }, }, }) */%>
      <!-- ZS Fixed navbar end -->

      <div class="container zs_content">

        <!-- ZS top header begin -->
        <%/*- include zs_top_header.ejs */%>
        <!-- ZS top header end -->

        <!-- ZS all shopex listing begin -->
        
        <!-- #DESIGN_CHANGE BEGIN -->
        <!-- <section id="single-shopex"> -->
        <section id="single-shopex" style="padding-top: 20px;">
        <!-- #DESIGN_CHANGE END -->

          <%- include zs_banner_take_tour.ejs %>

          <!-- Shopex main row begin -->
          <div class="row">
            <!-- Shopex main column begin -->
            <%/*- include zs_shopex_main_column.ejs */%>
            <%/* console.log(single_shopex_page_data) */%>
            <%/* console.log(single_shopex_page_data.single_shopex_data) */%>
            
            <%- rendered_include('views/zs_single_shopex.ejs', {single_shopex_data: single_shopex_page_data.single_shopex_data, 
              user_info: single_shopex_page_data.navbar_data.user_info,
              loggedIn: single_shopex_page_data.loggedIn,
              page_info: page_info,
              }) %>
            <!-- Shopex main column end -->

            <!-- Shopex right sidebar begin -->
            <%/*- rendered_include('views/zs_right_sidebar.ejs', {
              page_info: page_info,
              })*/ %>
            <%- rendered_include('views/zs_right_sidebar_populated.ejs', {
              side_bar_data: side_bar_data,
              page_info: page_info,
              }) %>
            <%/*- include zs_right_sidebar.ejs */%>
            <!-- Shopex right sidebar end -->

          </div>
          <!-- Shopex main row end -->
        </section>
        <!-- ZS all shopex listing end -->
      </div>
      <!-- div class="container" end -->
    </section>
    <!-- section id="zs-all-shopex-page" end -->
    
    <!-- ZS Page Footer begin -->
    <div id="zs_some_footer"></div>
    <%/*- include zs_end_footer.ejs */%>
    <!-- ZS Page Footer end -->

    <!-- ZS Single Shopex Page end -->

    <%/*- include zs_login_modal.ejs */%>

    <!-- start loading and running the scripts -->
    <script data-main="/js/zs_single_shopex_page" type="text/javascript" src="/js/libs/require.js"></script>

  </body>
</html>