<!-- Individual Shopex main column begin -->
<section id="main-content" class="panel col-md-9 col-sm-12 col-xs-12">

  <% sd = single_shopex_data.shopex_data %>
  <%//rating_meaning = ['Awful','Bad','Not-Bad','Good','Great','Awesome']%>
  
  <%//rating_meaning = ['N0','Awful','Bad','Not-Bad','Good','Great']%>
  <%rating_meaning = ['na', 'Awful','Bad','Not-Bad','Good','Great']%>

  <%// rating_color = ['#B94A48','#D9534F','#ED9C28','#468847', '#5CB85C', '#6188f5'] %>
  <% rating_color = [ '#A3A3A3','#B94A48','#D9534F','#ED9C28','#468847', '#5CB85C'] %>

  <%// criteria_arr = ['ON-TIME DELIVERY', 'PRODUCT AS DESCRIBED', 'PRICING', 'PRODUCT VARIETY', 'EASE OF SHOPPING', 'CUSTOMER CARE', 'RETURN & REFUND'] %>
  <% criteria_arr = ['EASE OF SHOPPING', 'PRODUCT VARIETY', 'PRICING', 'COMMUNICATION', 'DELIVERY & PRODUCT', 'RETURN & REFUND'] %>

  <%// criteria_regular_arr = ['ON-TIME DELIVERY', 'PRODUCT AS DESCRIBED', 'PRICING', 'PRODUCT VARIETY', 'EASE OF SHOPPING', 'CUSTOMER CARE', 'RETURN & REFUND'] %>
  <% criteria_regular_arr = ['EASE OF SHOPPING', 'PRODUCT VARIETY', 'PRICING', 'COMMUNICATION', 'DELIVERY & PRODUCT', 'RETURN & REFUND'] %>

  <%// criteria_short_arr = ['otd', 'pad', 'pri', 'pro', 'eos', 'csu', 'rrp'] %>
  <% criteria_short_arr = ['eos', 'pro', 'pri', 'csu', 'pad', 'rrp'] %>

  <% criteria_rating = [sd.eos_rating,
                        sd.pro_rating,
                        sd.pri_rating,
                        sd.csu_rating,
                        sd.pad_rating,
                        sd.rrp_rating ]; %>

  <% criteria_comment = [sd.eos_comment,
                        sd.pro_comment,
                        sd.pri_comment,
                        sd.csu_comment,
                        sd.pad_comment,
                        sd.rrp_comment ]; %>

  <!-- Shopex Title and Rating summary Begin -->
  <div class="post-div shopex-div" id="Shopex_<%=sd._id%>" post="shopping-experience">
  <section id="shopex-title">  
    <div class="row">
      <div class="tshopex-title col-md-9 col-sm-7 col-xs-7">
          <h1 class="panel-title">

            <strong>Online Shopping for

              <% for(var i = 0; i < sd._pro_cat.length; ++i) { %>
                <% if (sd._pro_cat[i]) { %>
                  <a href="/product-category/<%=sd._pro_cat[i]._id%>/<%=sd._pro_cat[i].name%>" target="_blank" data-poload="/product-category/po/<%=sd._pro_cat[i]._id%>" data-uv-triggerx="smartvote">
                    <span class="label label-ps-category">
                      <%= sd._pro_cat[i].name %>
                    </span>
                  </a>
                  <%= (i < sd._pro_cat.length - 1) ? ',' : '' %>
                <% } %>
              <% } %>
              <% for(var i = 0; i < sd._ser_cat.length; ++i) { %>,
                <% if (sd._ser_cat[i]) { %>
                  <a href="/service-category/<%=sd._ser_cat[i]._id%>/<%=sd._ser_cat[i].name%>" target="_blank" data-poload="/service-category/po/<%=sd._ser_cat[i]._id%>" data-uv-triggerx="smartvote">
                    <span class="label label-ser-category">
                      <%= sd._ser_cat[i].name %>
                    </span>
                  </a>
                <% } %>
              <% } %>

              from 

              <% if (sd._seller) { %>
                <a href="/seller/<%=sd._seller._id%>/<%=sd._seller.name%>" target="_blank" data-poload="/seller/po/<%=sd._seller._id%>" data-uv-triggerx="smartvote">
                  <span class="label label-seller">
                    <%= sd._seller.name %>
                  </span>
                </a>
              <% } %>

              <% if(sd.location) { %>
                <a href="#">
                  <span class="link link-location">
                    <small> delivered to <%= sd.location %> </small> <!-- #TODO#DONE put location data -->
                  </span>
                </a>
              <% } %>

              <!-- #TODO store delivery time data in shopex-->
              <% if(sd.delivery_time) { %>
                <a href="#">
                  <span class="link link-location">
                    <small> on <%= sd.delivery_time %> </small> <!-- #TODO#DONE put delivery time data -->
                  </span>
                </a>
              <% } %>

            </strong>                    
          </h1>                  
      </div>   
      <div class="zs-shopex-title col-md-3 col-sm-5 col-xs-5">              

        <div class="zs-rating">
          <h4 class="pull-left zs-rating-object" style="background-color: <%= rating_color[Math.ceil(sd.all_rating)] %>;">
            <div class="rating-value">
              <%/* var rv = Math.ceil(sd.all_rating * 10) / 10 */%>
              <% var rv = sd.all_rating.toFixed(1); %>
              <%= rv == 0.0 ? "n/a" : rv %>
            </div>
          </h4>
          <div class="zs-rating-body">
            <h4 class="zs-rating-desc">
              <span>
                <%= rv == 0.0 ? "No Ratings" : rating_meaning[Math.ceil(rv)]+" Experience" %>
              </span>
            </h4>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- Shopex Title and Rating summary End -->

  <!-- Rating Score Start -->
  <section id="rating-score">
  <div class="content-wrap">  
    <div class="col-md-12 col-sm-12 col-xs-12">
      <table class="table table-condensed shopex-score">
        <thead>
          <tr>
            <th></th>
            <th><span class="rate-awful">AWFUL</span> <span class="rate-great">GREAT</span></th>
            <th></th>
            <th class="comment">comment</th>
          </tr>
        </thead>
        <tbody>


        <% for(var i = 0; i < criteria_arr.length; ++i) { %>
          <% if (!hasValue(criteria_rating[i])) { criteria_rating[i] = 0; }%>
          <%/* if (hasValue(criteria_rating[i])) { */%>
            <tr id="zs_<%=criteria_short_arr[i]%>">
              <td class="col-sm-4 criteria"><%= criteria_arr[i] %></td>
              <td>
                
                <div class="progress progress-xs">
                  <div style="width: <%= criteria_rating[i]*20 %>%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="<%= criteria_rating[i]*20 %>" role="progressbar" class="progress-bar progress-bar-<%= rating_meaning[Math.ceil(criteria_rating[i])].toLowerCase() %>">
                  <span class="sr-only"><%= criteria_rating[i]*20 %>% Complete (success)</span>
                  </div>
                </div>

                <!-- <div class="slider slider-horizontal" style="width: 210px;">
                  <div class="slider-track">
                    <div class="slider-selection" style="left: 0%; width: 70%;"></div>
                    <div class="slider-handle round" style="left: 70%;"></div>
                    <div class="slider-handle round hide" style="left: 0%;"></div>
                  </div>
                  <div class="tooltip top" style="top: -30px; left: 136px;">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">3</div>
                  </div>
                  <div class="slider slider-horizontal"></div>
                </div> -->

              </td>
              <td class="col-sm-1 rating">

              <span class="label label-<%= rating_meaning[Math.ceil(criteria_rating[i])].toLowerCase()%> user-criteria-rating" zsrvalue="<%=criteria_rating[i]%>"><% if (criteria_rating[i] != 0) { %><%= criteria_rating[i] %>.0<% } else { %>n/a<% } %></span>                          
              </td>
              <td>
                <!-- <span class="glyphicon glyphicon-comment spx-nocomment"></span> -->
                
                <!-- <span class="glyphicon glyphicon-comment spx-comment" data-container="body" data-toggle="popover" data-placement="right" data-content="<%=criteria_comment[i]%>" title="<%=criteria_regular_arr[i]%>"> -->


                <%if ( (criteria_comment[i] != undefined) && (criteria_comment[i].length > 0)) { %>

                <span id="<%=criteria_arr[i]%>" class="glyphicon glyphicon-comment spx-comment user-criteria-comment" data-container="body" data-toggle="popover" data-placement="right" zscvalue="<%=criteria_comment[i]%>" data-content="
                  <div class='popover-scomment'>
                      <div class='arrow' style=''></div>
                        <div class='pop-scomment'>
                          <h3><%=criteria_regular_arr[i]%></h3>
                        </div>          
                        <div contenteditable='false' class='criteria-comment'>
                          <p><%=criteria_comment[i]%></p>
                        </div>
                  </div>">


                  <!-- <div class='popover fade right in' style='top: 262.5px; left: 713px; display: block;'>
                  <div class='arrow' style=''></div>
                  <div class='popover-content'>
                  <div class='popover-scomment'>
                      <div class='arrow' style=''></div>
                        <div class='pop-scomment'>
                          <h3>ON-TIME DELIVERY</h3>
                        </div>          
                        <div contenteditable='false' class='criteria-comment'>
                          <p>just this last thing</p>
                        </div>
                  </div>
                  </div>
                  </div> -->

                  <!-- <div class='popover-scomment'>
                    
                      <div class='arrow'></div>
                        <div class='pop-scomment'>
                          <h3><%=criteria_regular_arr[i]%></h3>
                        </div>          
                        <div contenteditable='false' class='criteria-comment'>
                          <p><%=criteria_comment[i]%></p>
                        </div>
                    
                  </div> -->
                  
                  <!-- title="<%=criteria_regular_arr[i]%>" -->

                  <!-- <div class='popover-scomment'>
                    <div class='popover right'>
                      <div class='arrow'></div>
                        <div class='pop-scomment'>
                          <h3>On-Time Delivery</h3>
                        </div>          
                        <div class='criteria-comment'>
                          <p><%=criteria_comment[i]%></p>
                        </div>
                    </div>
                  </div> -->

                </span>

                <% } else { %>

                <span id="<%=criteria_arr[i]%>" class="glyphicon glyphicon-comment spx-nocomment">

                <% } %>


                <%/*= criteria_comment[i] */%>
              </td>
            </tr>
          <%/* } */%>
        <% } %>

        <div class="criteria_content" style="display:none;" data-content= 
        "<div class='arrow'></div>
                        <div class='pop-scomment'>
                          <h3><%=criteria_regular_arr[i]%></h3>
                        </div>          
                        <div class='criteria-comment shopex_comment'>
                          <p><%=criteria_comment[i]%></p>
                        </div>">
                        
                </div>
          
        </tbody>
      </table>
    </div>   <!-- shopex-1 end -->
  </div> 
  </section>
  <!-- Rating Score End -->
    
  <!-- Shopping Experience in Detail Begin-->
  <section id="shopex-detail">
    <div class="shopex-wrap">

      <!-- Detail Shopping Experience Begin-->
      <div class="panel col-md-12 col-sm-12 col-xs-12">
        <div class="panel-heading ">Detailed</div>
        <div class="panel-body shopex_text_editable"><%- sd.content_text %></div>
      </div>
    </div>
  </section>
      <!-- Detail Shopping Experience End-->

  <section id="buyer">
    <div class="buyer-wrap">
      <div class="overall"></div>
      <div class="row">
        <!-- <section id="buyer"> -->
        <!-- User Profile 40px Begin -->
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="profile-wrap">
            
            <% if(checkData(sd, 'sd._author.name.first')) { %>
            
              <a href="/user/<%=sd._author._id +"/"+ sd._author.url_name %>" class="img col-md-3 col-sm-3 col-xs-3">
                <div class="usr_profile_img_container_40" style="margin-right: 2px;">
                  <% if(hasValue(sd._author.img_icon_url)) { %>
                    <img class="media-object" alt="User Name displays here" src="<%= sd._author.img_icon_url %>">
                  <% } else { %>
                    <img class="media-object" alt="User Name displays here" src="/img/newuser.jpg">
                  <% } %>
                </div>
              </a>

              <a href="/user/<%=sd._author._id +"/"+ sd._author.url_name %>" class="col-md-9 col-sm-9 col-xs-9">
                <h1><%= sd._author.fullname %></h1>
              </a>

            <% } else { %>
              <div class="img col-md-9 col-sm-9 col-xs-9">
                <img class="media-object" alt="User Name displays here" src="/img/anon.jpg">
              </div>
              <h1>Anonymous</h1>
            
            <% } %>

            <% if(checkData(sd, 'sd._author.level')) { %>
              <!-- <p><%//= sd._author.level %></p> -->
              <p>Member</p>
            <% } else { %>
              <p>Member</p>
            <% } %>

          </div>
        </div>
        <!-- User Profile 40px End -->

        <!-- User Bought Begin -->
        <div class="col-md-9 col-sm-9 col-xs-9">
          <% if (sd._pro.length > 0 && sd._ser.length > 0) { %>
            <div class="user-bought">
              <small><strong>bought : </strong></small>
                <% for(var i = 0; i < sd._pro; ++i) { %>
                  <div class="zs-product-tag">
                    <a href="/product/<%= sd._pro[i].name %>/<%= sd._pro[i]._id %>" target="_blank" >
                      <span class="label label-product">sd._pro[i].name</span>
                    </a>
                  </div>
                <% } %>

                <% for(var i = 0; i < sd._ser; ++i) { %>
                  <div class="zs-service-tag">
                    <a href="/service/<%= sd._ser[i].name %>/<%= sd._ser[i]._id %>" target="_blank" >
                      <span class="label label-product">sd._ser[i].name</span>
                    </a>
                  </div>
                <% } %>
            </div>
          <% } %>
          <!-- #TODO add recommended affiliated product tags from our side -->
        </div>
        <!-- User Bought End -->
        <!-- </section> -->
      </div>
    </div>
  </section>
  
  <section id="shopex-utility">
    <div class="shopex-utility-wrap">
      <!-- Shopex footer - comment/share/report Begin -->
       <div class="row shopex-footer">
        <div class="btn-group" data-toggle="buttons">
          <%// console.log(session.loggedIn) %>
          <% if (loggedIn && (sd.meta_info.upvoters.indexOf(user_info._id) > -1) ) { %>
            <label class="btn btn-thankyou zs_shopex_thankyou thanked active">
          <% } else { %>
            <label class="btn btn-thankyou zs_shopex_thankyou">
          <% } %>
              <i><%= sd.meta_info.upvoters.length %></i>
              <input type="checkbox" class="shopex_upvote"> Thank You
            </label>                        
        </div>
         <span class="zs_toggle_comments"><a href="#">Comment</a><span>(<%= sd._comments.length %>)</span></span>
         <span class="hidden"><a>Report</a></span>
         <span><a href="#" class="zs_post_share share" data-content="<%= JSON.stringify(page_info)%>">Share</a><span>(<%= sd.meta_info.sharers.length %>)</span></span>


         <% if(AccessControl.postEditPermission(sd, user_info)) { %>
          <span id="edit" class="shopex_edit"><a>Edit</a></span>
          <!-- <span id="shopex_edit" class="edit"><a>Edit</a></span> -->
         <% } %>

        <span id="permalink">
          <% if(sd.permalink) { %>
            <a target="_blank" href="<%= sd.permalink %>">
          <% } else { %>
            <a target="_blank" href="/shopping-experience/<%= sd._id %>">
          <% } %>
            <%= formatTime(sd.updated_at) %>
          </a>
        </span>

        <% if(AccessControl.postAdminPermission(sd, user_info)) { %>
          <!-- <span id="delete" class="shopex_delete"><a>Delete</a></span> -->
          <span id="shopex_delete" class="edit delete pull-right"><a>Delete</a></span>
        <% } %>


      </div>
      <!-- Shopex footer - comment/share/report End -->
    </div>
  </section>

  <section id="comment-container">
    <div class="comment-container-wrap comments-populated">
      <!-- 
      comment_container_data
        user_info
          name
            first
            last
            _id
        comments = [array of comments of the first level]
      -->

      <!-- Threaded Comment Begin -->
      <%- rendered_include('views/zs_comment_container.ejs', {comment_container_data: {user_info: user_info, comments: sd._comments}}) %>
      <!-- Threaded Comment End -->


    </div>
  </section>
  <!-- Shopping Experience in Detail End-->
  </div>

</section>
<!-- Individual Shopex main column begin -->
