<div class="popover-store">
  <!-- <div class="popover bottom"> -->
    <div class="arrow"></div>          
      <div class="row">          

        <div class="media">
          <a class="pull-left" href="<%= seller_data.store_page_url ? seller_data.store_page_url : "/seller/"+seller_data._id+"/"+seller_data.url_name %>">
            <!--<img class="media-object mini-seller-img" src="<% seller_data.thumb_image_url ? seller_data.thumb_image_url : "/img/newseller.jpg" %>" alt="<%= seller_data.site_domain %>">-->
            <img class="media-object mini-seller-img" src="/img/newseller.jpg" alt="<%= seller_data.name %>">
          </a>
           <div class="media-body">
            <h4 class="mini-sellername"><a href="<%= seller_data.store_page_url ? seller_data.store_page_url : "/seller/"+seller_data._id+"/"+seller_data.url_name %>"><%= seller_data.name ? seller_data.name : seller_data.site_domain %></a></h4>                
            <div class="seller-info">
              <span><%= seller_data.info_text ?  seller_data.info_text.substr(0, 120) : seller_data.site_domain %></span>
            </div>
          </div> 
        </div>            
      </div>     
      <div class="row">
      <div class="mini-seller-follow" style="<%= !seller_data.all_rating ? "position:relative;" : "" %>" >
        <div data-toggle="buttons">
          <label class="btn btn-follow">
            <input type="checkbox">Follow <span class="badge minibdg"><%= seller_data.meta_info ? seller_data.meta_info.followers.length : 0 %></span>
          </label>
        </div>          
      </div>            
      
      <% if(seller_data.all_rating) { %>
      <!-- Seller minirating Begin -->
      <div id="accordion">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <div class="hover-shadow miniovrl-rating pull-right" style="background-color: #D9534F; ">
            <div class="ovrl-value">
              <% var rv = seller_data.all_rating.toFixed(1); %>
              <%= rv == 0.0 ? "n/a" : rv %>
            </div>
          </div>            
        </a>          
      </div>

      </div>
      
      <div class="row">
      <div id="collapseOne" class="panel-collapse collapse">
        <section id="miniovrl-score">
        <div class="content-wrap">  
        <table class="table table-condensed miniovrl-score">
          <tbody>
            <tr>
              <td class="criteria">ON-TIME DELIVERY</td>
              <td class="pull-right rating"><span class="label label-good"><%= seller_data.otd_rating.toFixed(1) %></span>
              </td>
            </tr>
            <tr>
              <td class="criteria">PRODUCT</td>
              <td class="pull-right rating"><span class="label label-not-bad"><%= seller_data.pad_rating.toFixed(1) %></span></td>
            </tr>
            <tr>
              <td class="criteria">PRICING</td>
              <td class="pull-right rating"><span class="label label-good"><%= seller_data.pri_rating.toFixed(1) %></span></td>
            </tr>
            <tr>
              <td class="criteria">PRODUCT VARIETY</td>
              <td class="pull-right rating"><span class="label label-good"><%= seller_data.pro_rating.toFixed(1) %></span></td>
            </tr>
            <tr>
              <td class="criteria">EASE OF SHOPPING</td>
              <td class="pull-right rating"><span class="label label-not-bad"><%= seller_data.eos_rating.toFixed(1) %></span></td>
            </tr>
            <tr>
              <td class="criteria">CUSTOMER CARE</td>
              <td class="pull-right rating"><span class="label label-good"><%= seller_data.csu_rating.toFixed(1) %></span></td>
            </tr>
            <tr>
              <td class="criteria">RETURN &amp; REFUND</td>
              <td class="pull-right rating"><span class="label label-bad"><%= seller_data.rrp_rating.toFixed(1) %></span></td>
            </tr>
          </tbody>
        </table>
        </div> 
        </section>
      </div>
      </div>
      <% } else { %>
        </div>
      <% } %>
      <!-- User Follow End -->
    <!-- <div class="popover-content"> -->
  <!-- </div> -->
</div>