<%// rating_meaning = ['Awful','Bad','Not Bad','Good','Great'] %>
<% rating_meaning = ['na', 'Awful','Bad','Not-Bad','Good','Great']%>

<%// rating_color = ['#B94A48','#D9534F','#ED9C28','#468847', '#5CB85C'] %>
<% rating_color = [ '#A3A3A3','#B94A48','#D9534F','#ED9C28','#468847', '#5CB85C'] %>


<% sd = shopex_data %>
<% char_overflow = 574 %>
<% quote_overflow = 174 %>
<% if(sd.content_text) { %>

<% content_plain_text = sd.content_text.replace(/<(?:.|\n)*?>/gm, ' ')%>

<% var content_img_regexObj = (/\<img[^\>]+\>/.exec(sd.content_text)) %>
<% var content_img_html =  content_img_regexObj ? content_img_regexObj[0] : "" %>

<% var content_img_regexObj = sd.content_text.match(/\<img[^\>]+\>/g); %>
<% var content_img_htmls = content_img_regexObj ? content_img_regexObj : "" %>

<!-- shopex short begin -->
<div class="content-wrap shopex_short post-div post-short" id="Shopex_<%= sd._id %>" post="shopex" num="<%= sd._id %>">
  
  <% if(sd._author) { %>
    <a target="_blank" href="<%= sd._author.permalink ? sd._author.permalink : "/user/"+sd._author._id+"/"+sd._author.url_name %>">
      <div class="usr_profile_img_list_container_25">
        <img class="profile-img-list" src="<%= sd._author.img_icon_url %>" alt="<%= sd._author.fullname %>">
      </div>
    </a>  
  <% } else { %>
    <div class="usr_profile_img_list_container_25">
      <img class="profile-img-list" src="/img/anonuser.jpg" alt="Anonymous">
    </div>
  <% } %>

  <div class="panel col-md-11 col-sm-11 col-xs-10">
    <div class="panel-heading">
      <h1 class="panel-title">
        <!-- <a href="/wed"> -->
        <!-- <strong> -->
          
          <a target="_blank" href="<%= sd.permalink ? sd.permalink : "/shopping-experience/"+sd._id %>">
            <span class="shopex_short_title">
              <% if(sd._author) { %>
                <%= sd._author.fullname %>'s Online Shopping for 
              <% } else { %>
                Anonymous's Online Shopping for 
              <% } %>
            </span>
          </a>

          <% for(var i = 0; i < sd._pro_cat.length; ++i) { %>
            <% if (sd._pro_cat[i]) { %>
              <a href="/product-category/<%=sd._pro_cat[i]._id%>/<%=sd._pro_cat[i].url_name%>" target="_blank" data-poload="/product-category/po/<%=sd._pro_cat[i]._id%>" data-uv-triggerx="smartvote">
                <span class="label label-ps-category">
                  <%= sd._pro_cat[i].name %>
                </span>
              </a>
              <%= (i < sd._pro_cat.length - 1) ? ',' : '' %>
            <% } %>
          <% } %>
          <% for(var i = 0; i < sd._ser_cat.length; ++i) { %>,
            <% if (sd._ser_cat[i]) { %>
              <a href="/service-category/<%=sd._ser_cat[i]._id%>/<%=sd._ser_cat[i].url_name%>" target="_blank" data-poload="/service-category/po/<%=sd._ser_cat[i]._id%>" data-uv-triggerx="smartvote">
                <span class="label label-ser-category">
                  <%= sd._ser_cat[i].name %>
                </span>
              </a>
            <% } %>
          <% } %>

          <a>
            <span class="shopex_short_title">from</span>
          </a>

          <% if (sd._seller) { %>
            <a href="/seller/<%=sd._seller._id%>/<%=sd._seller.url_name%>" target="_blank" data-poload="/seller/po/<%=sd._seller._id%>" data-uv-triggerx="smartvote">
              <span class="label label-seller">
                <%= sd._seller.name %>
              </span>
            </a>
          <% } %>

          <% if(sd.location) { %>
            <!-- <a href="#"> -->
              <span class="link link-location">
                <small> from <%= sd.location %> </small> <!-- #TODO#DONE put location data -->
              </span>
            <!-- </a> -->
          <% } %>

          <!-- #TODO store delivery time data in shopex-->
          <% if(sd.delivery) { %>
            <span class="link link-permalink">
              <small> On <%= sd.delivery.toDateString() %> </small>
              <!-- #TODO#DONE put delivery time data -->
            </span>
          <% } else if (sd.order) { %>
            <span class="link link-permalink">
              <small> On <%= sd.order.toDateString() %> </small>
              <!-- #TODO#DONE put order time data -->
            </span>
          <% } %>
        
        <!-- </strong> -->
        <!-- </a> -->
    </h1>                   
    </div>
    
    <% /*if ((content_plain_text.replace(/\s/g,'').length > 0) || content_img_html) { */%>
      <div class="panel-body">    
        <!-- <a class="shopex_short_body" target="_blank" href="<%= sd.permalink ? sd.permalink : "/shopping-experience/"+sd._id %>"> -->
        <div class="already_ratings">
          <% if (content_plain_text.length <= char_overflow) { %>
            <%- rendered_include('views/zs_shopex_ratings.ejs', {
              single_shopex_data: {shopex_data : shopex_data}, 
              }) 
            %>
          <% } %>
        </div>
        <p>
          <a class="shopex_short_body shrunk" href="#">
            
            <% if(content_img_html) { %>
              <%- content_img_html.replace(/style\s*=\s*\"[^\"]+\"/g, '') %>
            <% } else if(content_plain_text.length > quote_overflow) { %>
              <span><img src="/img/left262.png" class="img-responsive" alt="Shopping Experience"></span>
            <% } %>
            
            <% if (content_plain_text.length > char_overflow) { %>
              <%- content_plain_text.substring(0, char_overflow) %>...
              <span style=" color: #337294; font-weight: bold;">
                (more)
              </span>
            <% } else { %>
              <%- content_plain_text %>
            <% } %>

          </a>
        </p>
      </div>
    <% /*}*/ %>

    <div class="row allqn-footer">
      <!-- <span><a>Make Favourite</a></span> -->
      <span>
        <!-- if the post is alrady thanked by the user -->
        <% if (loggedIn && sd.meta_info.upvoters.indexOf(user_info._id) > -1) { %>
          <a href="#" class="zs_post_thank thanked">Thanked</a>
        <% } else { %>
          <a href="#" class="zs_post_thank thank">Say Thanks</a>
        <% } %>
      <span>(<%= sd.vote_count ? sd.vote_count : 0 %>)</span>
      </span>
      
      <span class="zs_toggle_comments"><a href="#">Comment</a><span>(<%= sd._comments.length %>)</span></span>
      <span class="hidden"><a>Share</a></span>
      <!-- <span class="date"><%= sd.created_at.toDateString() %></span> -->

      <span id="permalink" class="date hidden">
        <a target="_blank" href= 
        <% if(sd.permalink) { %> 
          "<%= "/shopping-experience/"+sd._id %>"
        <% } else { %>
          "<%= "/shopping-experience/"+sd._id %>"
        <% } %>>
          <%= formatTime(sd.created_at) %>
        </a>
      </span>

    </div>

    <section id="comment-container">
      <div class="comment-container-wrap"></div>
    </section>

  </div>

  <div class="col-md-1 col-sm-1 col-xs-2">
    <div class="rating-body" style="background-color: <%= rating_color[Math.ceil(sd.all_rating)] %>; ">
      <div class="rating-value">
        <!-- #TODO#DONE rouding off this value -->
        <%/* var rv = Math.ceil(sd.all_rating * 10) / 10 */%> 
        <% var rv = sd.all_rating.toFixed(1); %>
        <%= rv == 0.0 ? "n/a" : rv %>
      </div>
      <div class="rating-meaning">
        <%= rv == 0.0 ? "None" : rating_meaning[Math.ceil(rv)] %>
      </div>
      <!-- <br>
      <div style="background-color: beige;"><%= sd.vote_count %></div> -->
    </div>
  </div>
</div>
<% } %>
<!-- shopex short end -->
