<!DOCTYPE html>
<html lang="en">

  <%- include zs_head_meta.ejs %>
  <%- include zs_external_scripts %>

  <% var ud = main_data.user_account;%>

  <% var primary_author = ud.fullname ? ud.fullname : "" %>
  <% var title_str = ""; %>
  <% var description_str = ""; %>
  <% var keywords_list_str = ""; %>
  <% var share_image = ""; %>

  <%
    var share_default_image = share_default_square_image;
    if (ud.profile_image_url.indexOf("http") != -1) {
      share_image = ud.profile_image_url;
    }
  %>

  <%
    if(primary_author){
      title_str += primary_author;
    }
    title_str += ud.short_bio ? ", " + ud.short_bio : "'s Profile";
  %>

  <%
    var utext = primary_author +", ";
    utext += ud.aboutme ? ud.aboutme.replace(/\"/g, '\'') : "";
    utext = truncateStr(utext, 300);
    description_str = utext;
  %>

  <%
    var keywords_list_arr = ["Online Shopping", "Question", "Answer", "Profile"];
    keywords_list_arr.push(primary_author);
    keywords_list_str = makeStr(keywords_list_arr);
  %>

  <head>
    <title> <%= title_str %> - Zorsay</title><!-- #TODO#DONE put question title here -->
    
    <meta name="keywords" content="<%= keywords_list_str %>">
    <meta name="description" content="<%= description_str %>">
    <meta name="author" content="<%= primary_author %>">
    <link rel="canonical" href="<%=site_host%>/user/<%= ud._id %>/<%= ud.url_name %>">

    <meta property="og:title" content="<%= title_str %>"/><!-- 95 chars -->
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="<%= share_image %>"/>
    <!-- specify a square image to ensure the best visibility -->
    <meta property="og:url" content="<%=site_host%>/user/<%= ud._id %>/<%= ud.url_name %>"/>
    <meta property="og:description" content="<%= description_str %>"/><!-- 297 chars-->
    
    <meta property="fb:admins" content="683593457,674922635874976"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="<%=site_host%>/user/<%= ud._id %>/<%= ud.url_name %>">
    <meta name="twitter:title" content="<%= title_str %>"><!-- 70 chars -->
    <meta name="twitter:description" content="<%= description_str %>"><!-- 200 chars -->
    <meta name="twitter:image" content="<%= share_image %>">
    <!-- specify a square image no smaller than 60×60 pixels -->
    <meta name="twitter:domain" content="zorsay.com">
  </head>

  <body>
    <!-- Notification on Page Begin -->
    <%- include zs_global_notification.ejs %>
    <!-- Notification on Page Ends -->
    
    <!-- ZS single Shopex Page begin -->
    <section id="zs-login-page">

      <!-- ZS Fixed navbar begin -->
      <%- rendered_include('views/zs_navbar.ejs', {navbar_data: navbar_data}) %>
      <!-- ZS Fixed navbar end -->

      <div class="container">

        <!-- ZS top header begin -->
        <%- include zs_top_header.ejs %>
        <!-- ZS top header end -->

        <!-- ZS user profile begin -->
        <%- rendered_include('views/zs_user_public_profile.ejs', {
          main_data: main_data,
          user_info : navbar_data.user_info,
          }) %>
        <!-- ZS user profile end -->
        
      </div>
      <!-- div class="container" end -->
    </section>
    <!-- section id="zs-all-shopex-page" end -->
    
    <!-- ZS Page Footer begin -->
    <div id="zs_some_footer"></div>
    <%//- include zs_end_footer.ejs %>
    <!-- ZS Page Footer end -->

    <!-- ZS Single Shopex Page end -->

    <%//- rendered_include('views/zs_user_profile_edit_modal.ejs', {main_data: main_data}) %>

    <!-- start loading and running the scripts -->
    <script data-main="/js/zs_user_public_profile_page" type="text/javascript" src="/js/libs/require.js"></script>

  </body>
</html>