<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <section id="usr-panel">            
        <div class="usr-navwrap">

          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="usr-pic">
              <div class="usr_profile_img_container">
                <img src="
                <% if(main_data.user_account.profile_image_url) { %>
                  <%= main_data.user_account.profile_image_url %>
                <% } else if (main_data.user_account.img_icon_url){ %>
                  <%= main_data.user_account.img_icon_url %>
                <% } else { %>
                  /img/newuser.jpg
                <% } %>
                " alt="<%= main_data.user_account.name.first %> <%= main_data.user_account.name.last %>" id="user_profile_img_preview">
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-4 col-xs-2">
            <div class="usr-info">
              <!-- <a href="/user/123/vinit-agrawal-2"> -->
              <a <% if(hasValue(main_data.user_account.permalink)) { %>
                href="<%= main_data.user_account.permalink %>"
              <% } %> >
              
              <h1><%= main_data.user_account.fullname %></h1>
              </a>

              <% if(AccessControl.isStaff(user_info)) { %>
                <p>
                  <span class="text-muted">
                    <% if(hasValue(main_data.user_account.email)) { %>
                      <%= main_data.user_account.email %>
                    <% } %>
                  </span>
                </p>
              <% } %>

              <p><b>
                <span class="text-muted">
                  <% if(hasValue(main_data.user_account.short_bio)) { %>
                    <%= main_data.user_account.short_bio %>
                  <% } %>
                </span>
              </b></p>

              <p>
                <span class="text-muted">
                  <%= main_data.user_account.aboutme ? main_data.user_account.aboutme : "" %>
                </span>
              </p>

              <div class="usr-follow-stat">
                <div data-toggle="buttons">
                  <label class="btn btn-follow" pending-feature><input type="checkbox">Follow<span class="badge minibdg"><%= main_data.user_account.meta_info.followers ? main_data.user_account.meta_info.followers.length : 0 %></span></label>
                </div>
              </div>

            </div>                    
          </div>

        </div>
    </section>
  </div>
</div>

<!-- User Profile Section full page - Begin-->
<section id="Account_<%= main_data.user_account._id %>" model="account" post="userinfo" num="<%= main_data.user_account._id %>" class="zs-div entity-div account-div">
  <div class="usrinfo">
    <div class="col-md-3 col-sm-3 hidden-xs">
      <div class="usrinfo-sidebar " role="complementary">
        <ul class="nav list-group">                
          <a href="#" class="list-group-item active" value="about">
            About
          </a>
          <a href="#" class="list-group-item" value="questions">
            <span class="badge badge-count">
              <% if(hasValue(main_data.user_account._questions)) { %>
                <%= main_data.user_account._questions.length %>
              <% } else { %>
                0
              <% } %>
            </span>
            Questions
          </a>
          <a href="#" class="list-group-item" value="answers">
            <span class="badge badge-count">
              <% if(hasValue(main_data.user_account._answers)) { %>
                <%= main_data.user_account._answers.length %>
              <% } else { %>
                0
              <% } %>
            </span>
            Answers
          </a>
          <a href="#" class="list-group-item" value="shopexes">
            <span class="badge badge-count">
              <% if(hasValue(main_data.user_account._shopexes)) { %>
                <%= main_data.user_account._shopexes.length %>
              <% } else { %>
                0
              <% } %>
            </span>
            Experiences
          </a>
        </ul>              
      </div>            
      </div>

      <!-- Main usrinfo content Start -->
      <div class="col-md-9 col-sm-9 col-xs-12 usrinfo-display about zs-populated">
        <!-- <h4>Basic Information</h4> -->
        <table class="table table-condensed usr-profile">
          <h4>Account Information</h4>
          <tbody>
            <tr>
              <td class="col-xs-2 usr-param">Name</td>
              <td class="usr-data">
                <%= main_data.user_account.name.first %> <%= main_data.user_account.name.last %>
              </td>
            </tr>
            

            <% if(hasValue(main_data.user_account.created_at)) { %>
              <tr>
                <td class="col-xs-1 usr-param">Joined On</td>
                <td class="usr-data">
                  <%= main_data.user_account.created_at.toDateString() %>
                  <%//= typeof(main_data.user_account.created_at) %>
                </td>
              </tr>
            <% } %>

            <tr>
              <td class="col-xs-1 usr-param">Short Bio</td>
              <td class="usr-data">
                  <%= main_data.user_account.short_bio ? main_data.user_account.short_bio : "N/A" %>
              </td>
            </tr>

            <tr>
              <td class="col-xs-1 usr-param">Big Bio</td>
              <td class="usr-data">
                  <%= main_data.user_account.aboutme ? main_data.user_account.aboutme : "N/A" %>
              </td>
            </tr>

          </tbody>
          </table>
          
        </div>

        <div class="col-md-9 col-sm-9 col-xs-12 usrinfo-display questions" style="display:none;"></div>
        <div class="col-md-9 col-sm-9 col-xs-12 usrinfo-display answers" style="display:none;"></div>
        <div class="col-md-9 col-sm-9 col-xs-12 usrinfo-display shopexes" style="display:none;"></div>
      <!-- Main usrinfo content End -->
  </div>
</section>
<!-- User Profile Section full page - End-->
