<div class="popover-prodcat">
      <!-- <div class="popover bottom"> -->
        <!-- <div class="arrow"></div> -->
          <!-- Prodcat details Begin -->
          <div class="pop-prodcat">
            <a href="/product-category/<%=name%>">
              <img class="mini-prodcat-img img-responsive" src="/img/laptop.jpg" alt="user">
            </a>
            <a class="mini-prodcatname" href="/product-category/<%=name%>"><%=name%></a>
          </div>
          <!-- Prodcat details End -->

          <!-- Prodcat interest begin -->
          <div class="prodcat-related">
            <!-- <p><strong>Related: </strong></p> -->
            <!-- <span class="label label-ps-category">
              <a href="#">Mac</a>
            </span> -->              
            <!-- <span class="label label-ps-category">
              <a href="#">Dell Inspiron Laptop</a>
            </span> -->
            <a href="#">
              <span class="label label-ps-category">
                HP Laptop
              </span>
            </a>
            <a href="#">
              <span class="label label-ser-category">
                Hardisk Recovery
              </span>
            </a>
            <a href="#">
              <span class="label label-ser-category">
                Laptop Service
              </span>
            </a>
            <a href="/user-profile-page"><small>(more)</small></a>
          </div>
          <!-- Prodcat interest end -->
          
          <!-- Prodcat Follow Begin -->          
          <div class="mini-prodcat-follow">              
            <div data-toggle="buttons">
              <label class="btn btn-follow">
              <input type="checkbox"> Follow 
            </label>
            <div class="mini-followers">
              <a><%=meta_info.followers%> </a><span>Followers</span>
            </div> 
            <div class="mini-followers">
              <a><%=meta_info.shopex_count%> </a><span>Shoppexes</span>
            </div>
            <div class="mini-followers">
              <a><%=meta_info.question_count%> </a><span>Questions</span>
            </div> 
            </div>             
          </div>            
          <!-- Prodcat Follow End -->  

        <!-- <div class="popover-content"> -->
      <!-- </div> -->
    </div>