<% qd = question_data %>
<% char_overflow = 574 %>
<% if(qd.content_title) { %>

<% content_plain_title = qd.content_title.replace(/<(?:.|\n)*?>/gm, '')%>
<!-- question short begin -->
<div class="content-wrap question_short post-div post-short" id="Question_<%= qd._id %>" post="question" num="<%= qd._id %>">
  
  <% if(qd._author) { %>
    <a target="_blank" href="<%= qd._author.permalink ? qd._author.permalink : "/user/"+qd._author._id %>">
    <img class="profile-img-list" src="<%= qd._author.img_icon_url %>" alt="<%= qd._author.fullname %>">
    </a>  
  <% } else { %>
    <img class="profile-img-list" src="/img/anonuser.jpg" alt="Anonymous">
  <% } %>

  <div class="panel col-md-11 col-sm-11 col-xs-10">
    <div class="panel-heading">
      <h3 class="panel-title">
        <!-- <a href="/wed"> -->
        <!-- <strong> -->
          
            <% if(qd._author) { %>
              <a target="_blank" href="<%= qd._author.permalink ? qd._author.permalink : "/user/"+qd._author._id %>">
                <span class="question_short_author">
                  <%= qd._author.name.first %>
                  <%= qd._author.name.last %>'s
                </span>
              </a>
            <% } else { %>
              <span class="question_short_author">
                Anonymous's
              </span>
            <% } %>

          <a target="_blank" href="<%= qd.permalink ? qd.permalink : "/question/"+qd._id %>">
          <span>Shopping experience with </span> 
          </a>
          
          <a href="/seller/<%=qd._seller.name%>/" target="_blank" data-poload="/seller/po/<%=qd._seller._id%>">
            <span class="label label-seller">
              <%= qd._seller.name %>
            </span>
          </a>

          for buying

          <% for(var i = 0; i < qd._pro_cat.length; ++i) { %>
            <a href="/product-category/<%=qd._pro_cat[i].name%>/" target="_blank" data-poload="/product-category/po/<%=qd._pro_cat[i]._id%>">
              <span class="label label-ps-category">
                <%= qd._pro_cat[i].name %>
              </span>
            </a>
            <%= (i < qd._pro_cat.length - 1) ? ',' : '' %>
          <% } %>
          <% for(var i = 0; i < qd._ser_cat.length; ++i) { %>,
            <a href="/service-category/<%=qd._ser_cat[i].name%>" target="_blank" data-poload="/service-category/po/<%=qd._ser_cat[i]._id%>">
              <span class="label label-ser-category">
                <%= qd._ser_cat[i].name %>
              </span>
            </a>
          <% } %>

          <% if(qd.location) { %>
            <!-- <a href="#"> -->
              <span class="link link-location">
                <small> from <%= qd.location %> </small> <!-- #TODO#DONE put location data -->
              </span>
            <!-- </a> -->
          <% } %>

          <!-- #TODO store delivery time data in question-->
          <% if(qd.created_at) { %>
            <a target="_blank" href= 
              <% if(qd.permalink) { %> 
                "<%= qd.permalink %>" 
              <% } else { %> 
                "<%= "/question/"+qd._id %>" 
              <% } %>>
              <span class="link link-permalink">
                <small> <%= qd.created_at.toDateString() %> </small> <!-- #TODO#DONE put delivery time data -->
              </span>
            </a>
          <% } %>
        
        <!-- </strong> -->
        <!-- </a> -->
    </h3>                   
    </div>
    <div class="panel-body">    
      <p>
        <a class="question_short_body" target="_blank" href="<%= qd.permalink ? qd.permalink : "/question/"+qd._id %>">      
          <span>
            <img src="/img/left262.png" class="img-responsive" alt="Shopping Experience">
          </span>
          <% if (content_plain_title.length > char_overflow) { %>
            <%- content_plain_title.substring(0, char_overflow) %>...
          <% } else { %>
            <%- content_plain_title %>
          <% } %>
          <span style=" color: #337294; font-weight: bold;">
            (more)
          </span>
        </a>
      </p>
    </div>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-2">
    <!-- #TODO add votes and ansers div block for the question -->
  </div>
</div>
<% } %>
<!-- question short end -->
