<% var qd = question_data %>
<% char_overflow = 574 %>
<% if(qd) { %>

<% content_plain_text = qd.content_text ? qd.content_text.replace(/<(?:.|\n)*?>/gm, ' ') : "" %>


<% var content_img_regexObj = (/\<img[^\>]+\>/.exec(qd.content_text ? qd.content_text : "")) %>
<% var content_img_html =  content_img_regexObj ? content_img_regexObj[0] : "" %>

<% var content_img_regexObj = qd.content_text ? qd.content_text.match(/\<img[^\>]+\>/g): null %>
<% var content_img_htmls = content_img_regexObj ? content_img_regexObj : "" %>

<!-- question short begin -->
<div class="content-wrap question_short post-div post-short" id="Question_<%= qd._id %>" post="question" num="<%= qd._id %>">
  
  <% if(qd._author) { %>
    <a target="_blank" href="<%= qd._author.permalink ? qd._author.permalink : "/user/"+qd._author._id %>">
      <div class="usr_profile_img_list_container_25">
        <img class="profile-img-list" src="<%= qd._author.img_icon_url %>" alt="<%= qd._author.fullname %>">
      </div>
    </a>  
  <% } else { %>
    <div class="usr_profile_img_list_container_25">
      <img class="profile-img-list" src="/img/anonuser.jpg" alt="Anonymous">
    </div>
  <% } %>

  <div class="panel col-md-11 col-sm-11 col-xs-10">
    
    <div class="panel-heading">
      <h3 class="panel-title">
        <!-- <a href="/wed"> -->
        <!-- <strong> -->
          
          <a target="_blank" href="<%= qd.permalink ? qd.permalink : "/question/"+qd._id %>">
            <span class="question_short_title">
              <%= qd.content_title %>
            </span>
          </a>

          <!--
          <a target="_blank" href="<%= qd.permalink ? qd.permalink : "/question/"+qd._id %>">
          <span>Shopping experience with </span> 
          </a>
          
          <a href="/seller/<%=qd._seller.name%>/" target="_blank" data-poload="/seller/po/<%=qd._seller._id%>">
            <span class="label label-seller">
              <%= qd._seller.name %>
            </span>
          </a>

          for buying -->


          <% if(qd.location) { %>
            <!-- <a href="#"> -->
              <span class="link link-location">
                <small> from <%= qd.location %> </small> <!-- #TODO#DONE put location data -->
              </span>
            <!-- </a> -->
          <% } %>

          <!--
          <% if(qd.created_at) { %>
            <a target="_blank" href= 
              <% if(qd.permalink) { %> 
                "<%= qd.permalink %>" 
              <% } else { %> 
                "<%= "/question/"+qd._id %>" 
              <% } %>>
              <span class="link date link-permalink">
                <small> <%= qd.created_at.toDateString() %> </small> 
              </span>
            </a>
          <% } %>
          -->
        
        <!-- </strong> -->
        <!-- </a> -->
    </h3>                   
    </div>
    

    <% if (content_plain_text.replace(/\s/g,'').length > 0 || content_img_html) { %>
      <div class="panel-body">    
        <p>
          <!-- <a class="question_short_body" target="_blank" href="<%= qd.permalink ? qd.permalink : "/question/"+qd._id %>"> -->
          <a class="question_short_body shrunk" href="#">
            <%- content_img_html.replace(/style\s*=\s*\"[^\"]+\"/g, '') %>
            <!-- <br> -->
            <% if (content_plain_text.length > char_overflow) { %>
              <%- content_plain_text.substring(0, char_overflow) %>...
            <% } else { %>
              <%- content_plain_text %>
            <% } %>
            <%/* if (content_plain_text.length > char_overflow || content_img_html) { */%>
              <span style=" color: #337294; font-weight: bold;">
                (more)
              </span>
            <% /*}*/ %>
          </a>
        </p>
      </div>
    <% } %>

    <!-- <div class="rel-ps-category-tag"> -->
    <div class="user-qrel">
      <% for(var i = 0; i < qd._seller.length; ++i) { %>
        <a href="/seller/<%=qd._seller[i]._id%>/<%=qd._seller[i].url_name%>" target="_blank" data-poload="/seller/po/<%=qd._seller[i]._id%>" data-uv-triggerx="smartvote">
          <span class="label label-seller">
            <%= qd._seller[i].name %>
          </span>
        </a>
        <%//= (i < qd._seller.length - 1) ? ',' : '' %>
      <% } %>
      <% for(var i = 0; i < qd._pro_cat.length; ++i) { %> 
        <a href="/product-category/<%=qd._pro_cat[i]._id%>/<%=qd._pro_cat[i].url_name%>" target="_blank" data-poload="/product-category/po/<%=qd._pro_cat[i]._id%>" data-uv-triggerx="smartvote">
          <span class="label label-ps-category">
            <%= qd._pro_cat[i].name %>
          </span>
        </a>
        <%//= (i < qd._pro_cat.length - 1) ? ',' : '' %>
      <% } %>
      <% for(var i = 0; i < qd._ser_cat.length; ++i) { %> 
        <a href="/service-category/<%=qd._ser_cat[i]._id%>/<%=qd._ser_cat[i].url_name%>" target="_blank" data-poload="/service-category/po/<%=qd._ser_cat[i]._id%>" data-uv-triggerx="smartvote">
          <span class="label label-ser-category">
            <%= qd._ser_cat[i].name %>
          </span>
        </a>
      <% } %>
      <% for(var i = 0; i < qd._pro.length; ++i) { %> 
        <a href="/product/<%=qd._pro[i]._id%>/<%=qd._pro[i].url_name%>" target="_blank" data-poload="/product/po/<%=qd._pro[i]._id%>" data-uv-triggerx="smartvote">
          <span class="label label-pro">
            <%= qd._pro[i].name %>
          </span>
        </a>
      <% } %>
      <% for(var i = 0; i < qd._ser.length; ++i) { %> 
        <a href="/service/<%=qd._ser[i]._id%>/<%=qd._ser[i].url_name%>" target="_blank" data-poload="/service/po/<%=qd._ser[i]._id%>" data-uv-triggerx="smartvote">
          <span class="label label-ser">
            <%= qd._ser[i].name %>
          </span>
        </a>
      <% } %>
    </div>
    
    <div class="row allqn-footer">
      <!-- <span><a>Follow</a></span> -->
      <span>
        <!-- if the post is alrady thanked by the user -->
        <% if (loggedIn && qd.meta_info.followers.indexOf(user_info._id) > -1) { %>
          <a href="#" class="zs_post_follow following">Following</a>
        <% } else { %>
          <a href="#" class="zs_post_follow follow">Follow</a>
        <% } %>
      <span>(<%= qd.meta_info.followers ? qd.meta_info.followers.length : 0 %>)</span>
      </span>


      <span class="zs_toggle_comments"><a href="#">Comment</a><span>(<%= qd._comments.length %>)</span></span>
      <span class="hidden"><a>Share</a></span>
      <!-- <span class="date"><%= qd.created_at.toDateString() %></span> -->
      
      <span id="permalink" class="date hidden">
        <a target="_blank" href= 
        <% if(qd.permalink) { %> 
          "<%= qd.permalink %>" 
        <% } else { %> 
          "<%= "/question/"+qd._id %>" 
        <% } %> style="font-size: 1em;">
          <%= formatTime(qd.created_at) %>
        </a>
      </span>

    </div>

    <section id="comment-container">
      <div class="comment-container-wrap"></div>
    </section>

    

  </div>
  <div class="col-md-1 col-sm-1 col-xs-2">
    <!-- #TODO#DONE add votes and ansers div block for the question -->
    <div class="qna-stats qna-votes-pc">
      <div class="qna-votes">
       <span><%= qd.vote_count ? qd.vote_count : 0 %></span>                     
      </div>
      <div class="qna-ans">
        <span>Votes</span>
      </div>
    </div>
    <div class="ans-stats qna-ans-pc">
      <div class="ans-votes">
       <span><%= qd._answers.length %></span>                     
      </div>
      <div class="ans-ans">
        <span>Answers</span>
      </div>
    </div>
  </div>
</div>
<% } %>
<!-- question short end -->
