<aside id="zs-col-right">   
  <div class="col-md-3 hidden-sm hidden-xs">

    <div style="height:20px"></div>

    <div class="zs-help">
      <div class="well well-sm">
        <div class="help-heading" style="text-align: center;">
          <span>
            Community Guidelines
          </span>
        </div>
        <br>
        <div class="help-action">
          <a href="/guidelines" class="zs-defaultbtn">Read Guidelines</a>
        </div>
      </div>
    </div>

    <div class="zs-luv">
      <div class="well well-sm">
        <div class="luv-heading zs-share-heading">
          <span>
            <% if (typeof(page_info) != "undefined")  { %>
              Share This <i><a href="<%=page_info.page_link%>"target="_blank"><%= page_info.post_type %></a></i>
            <% } else { %>
              Love Zorsay !!
            <% } %>
          </span>
        </div>                    
        <div class="luv-action">

          <% if (typeof(page_info) != "undefined")  { %>
            <a class="zs_fb_share zs_social_share" href="<%=fb_share(page_info)%>"target="_blank"><img src="/img/fb.png" alt="Share This <%= page_info.post_type %> on Facebook"></a>
            <a class="zs_tw_share zs_social_share" href="<%=tw_share(page_info)%>"target="_blank"><img src="/img/twitter.png" alt="Share This <%= page_info.post_type %> on Twitter"></a>
            <a class="zs_gp_share zs_social_share" href="<%=gp_share(page_info)%>"target="_blank"><img src="/img/google.png" alt="Share This <%= page_info.post_type %> on Google+"></a>
          <% } else { %>
            <a href="https://www.facebook.com/say.zorsay"target="_blank"><img src="/img/fb.png" alt="Zorsay.com Facebook Page"></a>
            <a href="https://twitter.com/sayZorsay"target="_blank"><img src="/img/twitter.png" alt="Zorsay.com Facebook Page"></a>
            <a href="https://plus.google.com/+Zorsay"target="_blank"><img src="/img/google.png" alt="Zorsay.com Facebook Page"></a>
          <% } %>

        </div>
      </div>
    </div>
  </div>
</aside>   
