<aside id="zs-col-right">   
  <div class="col-md-3 hidden-sm hidden-xs">

    <div style="height:20px"></div>

    <div class="zs-help">
      <div class="well well-sm">
        <div class="help-heading" style="text-align: center;">
          <span>
            Community Guidelines
          </span>
        </div>
        <br>
        <div class="help-action">
          <a href="/guidelines" class="zs-defaultbtn">Read Guidelines</a>
        </div>
      </div>
    </div>

    <div class="zs-luv">
      <div class="well well-sm">
        <div class="luv-heading zs-share-heading">
          <span>
            <% if (typeof(page_info) != "undefined")  { %>
              Share This <i><a href="<%=page_info.page_link%>"target="_blank"><%= page_info.post_type %></a></i>
            <% } else { %>
              Love Zorsay !!
            <% } %>
          </span>
        </div>                    
        <div class="luv-action">

          <% if (typeof(page_info) != "undefined")  { %>
            <a class="zs_fb_share zs_social_share" href="<%=fb_share(page_info)%>"target="_blank"><img src="/img/fb.png" alt="Share This <%= page_info.post_type %> on Facebook"></a>
            <a class="zs_tw_share zs_social_share" href="<%=tw_share(page_info)%>"target="_blank"><img src="/img/twitter.png" alt="Share This <%= page_info.post_type %> on Twitter"></a>
            <a class="zs_gp_share zs_social_share" href="<%=gp_share(page_info)%>"target="_blank"><img src="/img/google.png" alt="Share This <%= page_info.post_type %> on Google+"></a>
          <% } else { %>
            <a href="https://www.facebook.com/say.zorsay"target="_blank"><img src="/img/fb.png" alt="Zorsay.com Facebook Page"></a>
            <a href="https://twitter.com/sayZorsay"target="_blank"><img src="/img/twitter.png" alt="Zorsay.com Facebook Page"></a>
            <a href="https://plus.google.com/+Zorsay"target="_blank"><img src="/img/google.png" alt="Zorsay.com Facebook Page"></a>
          <% } %>

        </div>
      </div>
    </div>

    <div class="zs-rel-seller">
      <div class="well well-sm">
        <div class="rel-seller-heading">
          <span>
            Top Sellers
          </span>
        </div>                    
        <div class="rel-seller-tag">

          <a href="/seller/829/homeshop18.com/" target="_blank" data-poload="/seller/po/829" data-uv-triggerx="smartvote">
            <span class="label label-seller">
              Homeshop18.com
            </span>
          </a>

          <a href="/seller/801/fabfurnish.com/" target="_blank" data-poload="/seller/po/801">
            <span class="label label-seller" data-uv-triggerx="smartvote">
              Fabfurnish.com
            </span>
          </a>

          <a href="/seller/359/ebay.in/" target="_blank" data-poload="/seller/po/359">
            <span class="label label-seller" data-uv-triggerx="smartvote">
              ebay.in
            </span>
          </a>

          <a href="/seller/166/amazon.in/" target="_blank" data-poload="/seller/po/166">
            <span class="label label-seller" data-uv-triggerx="smartvote">
              Amazon.in
            </span>
          </a>

          <a href="/seller/418/myntra.com/" target="_blank" data-poload="/seller/po/418">
            <span class="label label-seller" data-uv-triggerx="smartvote">
              Myntra.com
            </span>
          </a>

          <a href="/seller/422/flipkart.com/" target="_blank" data-poload="/seller/po/422">
            <span class="label label-seller" data-uv-triggerx="smartvote">
              Flipkart.com
            </span>
          </a>
          
        </div>
      </div>
    </div>

    <div class="zs-rel-ps-cat">
      <div class="well well-sm">
        <div class="rel-ps-cat-heading">
          <span>
            Top Product Categories
          </span>
        </div>                    
        <div class="rel-ps-category-tag">
          
          <a href="/product-category/54/Mens-Fashion/" target="_blank" data-poload="/product-category/po/54" data-uv-triggerx="smartvote"><span class="label label-ps-category">mens innerwear</span> </a> 

          <a href="/product-category/149/Personal-Care/" target="_blank" data-poload="/product-category/po/149" data-uv-triggerx="smartvote"><span class="label label-ps-category">personal care</span> </a> 

          <a href="/product-category/164/t-shirts/" target="_blank" data-poload="/product-category/po/164" data-uv-triggerx="smartvote"><span class="label label-ps-category">t-shirts</span> </a>

          <a href="/product-category/128/home-and-kitchenware/" target="_blank" data-poload="/product-category/po/128" data-uv-triggerx="smartvote"><span class="label label-ps-category">home and kitchenware</span> </a>

          <a href="/product-category/313/mobile-phones/" target="_blank" data-poload="/product-category/po/313" data-uv-triggerx="smartvote"><span class="label label-ps-category">mobile phones</span> </a>

          <a href="/product-category/9/books/" target="_blank" data-poload="/product-category/po/9" data-uv-triggerx="smartvote"><span class="label label-ps-category">books</span> </a>

        </div>
      </div>
    </div>

    <div class="zs-rel-ps-cat">
      <div class="well well-sm">
        <div class="rel-ps-cat-heading">
          <span>
            Top Service Categories
          </span>
        </div>                    
        <div class="rel-ps-category-tag">

          <a href="/service-category/2/taxi-service/" target="_blank" data-poload="/service-category/po/2" data-uv-triggerx="smartvote"><span class="label label-ser-category">taxi service</span> </a>

          <a href="/service-category/21/dry-cleaners/" target="_blank" data-poload="/service-category/po/21" data-uv-triggerx="smartvote"><span class="label label-ser-category">dry cleaners</span> </a>

          <a href="/service-category/12/appliance-repair-services/" target="_blank" data-poload="/service-category/po/12" data-uv-triggerx="smartvote"><span class="label label-ser-category">appliance repair services</span> </a>

          <a href="/service-category/6/electronics-repair-services/" target="_blank" data-poload="/service-category/po/6" data-uv-triggerx="smartvote"><span class="label label-ser-category">electronics repair services</span> </a>

          <a href="/service-category/17/internet-services/" target="_blank" data-poload="/service-category/po/17" data-uv-triggerx="smartvote"><span class="label label-ser-category">internet services</span> </a>

          <a href="/service-category/8/telecom-plans/" target="_blank" data-poload="/service-category/po/8" data-uv-triggerx="smartvote"><span class="label label-ser-category">telecom plans</span> </a>

        </div>
      </div>
    </div>

 <!--    <div class="zs-pop-category">
      <ul class="list-group">
        <li class="list-group-header">Featured Categories</li>
        <li class="list-group-item active"><a href="#">Books</a></li>
        <li class="list-group-item"><a href="#">Mobile & Accesories</a></li>
        <li class="list-group-item"><a href="#">Clothing</a></li>
        <li class="list-group-item"><a href="#">Footware</a></li>
        <li class="list-group-item"><a href="#">Camera Photography</a></li>
        <li class="list-group-item"><a href="#">Computer & Laptop</a></li>
        <li class="list-group-item"><a href="#">Beauty & Fashion</a></li>
        <li class="list-group-item"><a href="#">Personal Care</a></li>
        <li class="list-group-item"><a href="#">Mom & Baby</a></li>
        <li class="list-group-item"><a href="#">Home & Lifestyle</a></li>
      </ul>
    </div> -->
    
    <div class="zs-related-shopex">
      <div class="well well-sm">
        <div class="relspx-heading">
          <span>Related Experience
        </span>
        </div> 
        <div class="relspx-content">
          <ul class="list-unstyled">
          <li><a href="#">This is a sample reelated Shopex 1 which will come here</a></li>
          <li><a href="#">Here shopex2 will be listed. testing multiline title of shopex2</a></li>
          <li><a href="#">Here shopex3 will be listed.</a></li>
          <li><a href="#">shopex3 single line testing.</a></li>
          <li><a href="#">Here shopex3 will be listed. testing multiline title of shopex3.</a></li>
        </ul>                      
        </div>                      
      </div>              
    </div>

    <div class="zs-unanswered">
      <div class="well well-sm">
        <div class="unans-heading">
          <span>Un-answered Questions
        </span>
        </div> 
        <div class="unans-content">
          <ul class="list-unstyled">
          <li><a href="#">This is a sample un-answered question.</a></li>
          <li><a href="#">Here unanswwered question will be listed. testing multiline title of question</a></li>
          <li><a href="#">Here unanswered question title just over a line.</a></li>
          <li><a href="#">question single line testing.</a></li>
          <li><a href="#">Here question will be listed. testing multiline title of question.</a></li>
        </div>                      
      </div>              
    </div>

    <!-- <div class="zs-luv">
      <div class="well well-sm">
        <div class="luv-heading">
          <span>
            Love Zorsay!!!
          </span>
        </div>                    
        <div class="luv-action">
          <a href="https://www.facebook.com/say.zorsay"target="_blank"><img src="/img/fb.png" alt="Zorsay.com Facebook Page"></a>
          <a href="https://twitter.com/sayZorsay"target="_blank"><img src="/img/twitter.png" alt="Zorsay.com Facebook Page"></a>
          <a href="https://plus.google.com/+Zorsay"target="_blank"><img src="/img/google.png" alt="Zorsay.com Facebook Page"></a>

        </div>
      </div>
    </div> -->

  </div>
</aside>   
