<% var qd = question_data %>
<% var content_img_regexObj = (/\<img[^\>]+\>/.exec(qd.content_text ? qd.content_text : "")) %>
<% var content_img_html =  content_img_regexObj ? content_img_regexObj[0] : "" %>

<% var content_img_regexObj = qd.content_text ? qd.content_text.match(/\<img[^\>]+\>/g) : null %>
<% var content_img_htmls = content_img_regexObj ? content_img_regexObj : "" %>

<!-- Single Question page main column Begin -->
<section id="main-content" class="panel col-md-9 col-sm-12 col-xs-12">

  <!-- Single QNA Title and Rating summary Begin -->
  <div class="post-div question-div" id="Question_<%=question_data._id%>" post="question">
    <!-- Single Question Title Begin -->
    <section id="qna-title">  
      <!-- #DESIGN_CHANGE BEGIN -->
      <!-- <div class="row" style="border-bottom: 0px;"> -->
      <div class="row" style="border-bottom: 0px;">
      <!-- #DESIGN_CHANGE END -->
        <div class="tqna-title">
          <div class="col-xs-1">
            <input type="hidden">
            <a class="<% if (user_info && question_data.meta_info.favors.indexOf(user_info._id) > -1) { %> star-on <% } else { %> star-off <% } %> zs_post_fav" href="#" title="This is a favorite question (click again to undo)" ><span class="fa fa-star"></span><li class="list-unstyled zs_post_favcount"><%=question_data.meta_info.favors.length%></li>
            </a>
          </div>
          <div class="col-xs-11">
            <h3 class="panel-title question_title_edit_content" key="content_title">
              <strong><%=question_data.content_title%></strong>
            </h3>
            <%/* if(loggedIn && question_data._author && question_data._author._id == user_info._id) { */%>
            <% if(AccessControl.postEditPermission(question_data, user_info)) { %>
              <span id="question_title_edit" class="edit"><a>Edit</a></span>
            <% } %>

          </div>
        </div>
      </div>
    </section>
    <!-- Single Question Title End -->
     
    <!-- Single Question question content Begin-->
    <section id="qna-qcontent">
      
      <!-- User Promote Inputs for QNA Begin -->
      <!-- #DESIGN_CHANGE BEGIN -->
      <!-- <div class="col-xs-1"> -->
      <div class="col-xs-1" style="padding-top: 0px;">
      <!-- #DESIGN_CHANGE END -->
        <div class="user-vote">
          <input type="hidden">
            <a class="<% if (user_info && question_data.meta_info.upvoters.indexOf(user_info._id) > -1) { %> vote-up-on <% } else { %> vote-up-off <% } %> zs_post_upvote" href="#" title="Upvote! This is a useful question." ><span class="fa fa-caret-square-o-up fa-2x"></span>
            </a>
            <li class="list-unstyled zs_post_votecount"><%=question_data.meta_info.upvoters.length - question_data.meta_info.downvoters.length%></li>
            <a class="<% if (user_info && question_data.meta_info.downvoters.indexOf(user_info._id) > -1) { %> vote-down-on <% } else { %> vote-down-off <% } %> zs_post_downvote" href="#" title="Down-vote. This question is ambigous." ><span class="fa fa-caret-square-o-down fa-2x"></span>
            </a> 
        </div>                  
      </div>
      <!-- User Promote Inputs for QNA end -->

      <!-- QNA Description Begin-->  
      <div class="col-xs-11">
        <div class="qdesc-wrap">
          <% if((question_data.content_text && question_data.content_text.replace(/<(?:.|\n)*?>/gm, '').length > 0) || content_img_html) { %>
            <div class="panel col-xs-11">
              <div class="panel-body question_text_edit_content" key="content_text">
                <%-question_data.content_text%>
              </div>
            </div>
          <% } else { %>
            <div class="panel col-xs-11">
              <div class="panel-body question_text_edit_content" key="content_text">
              </div>
            </div>
          <% } %>
          <!-- QNA Description End-->

          <div class="row">
          <section id="qnauser">            

            <!-- User QNA Category Begin -->
            <!-- #DESIGN_CHANGE BEGIN -->
            <!-- <div class="col-md-9 col-sm-9 col-xs-9"> -->
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
            <!-- #DESIGN_CHANGE END -->
              <div class="user-bought">
                <!-- #DESIGN_CHANGE BEGIN -->
                <!-- <small><strong>Added to: </strong></small> -->
                <!-- #DESIGN_CHANGE END -->
                <div class="rel-ps-category-tag question_tags_edit_content">

                <!-- // this conditional needs to go #TODO -->
                  <% for(var i = 0; i < question_data._seller.length; ++i) { %>
                  <a href="/seller/<%= question_data._seller[i]._id %>/<%= question_data._seller[i].name %>/" target="_blank" data-poload="/seller/po/<%= question_data._seller[i]._id %>" data-uv-triggerx="smartvote"><span class="label label-seller" key="_seller" val="<%= question_data._seller[i]._id %>">
                  <%= question_data._seller[i].name %>
                  </span></a>
                  <% } %>

                  <% for(var i = 0; i < question_data._pro_cat.length; ++i) { %>
                  <a href="/product-category/<%= question_data._pro_cat[i]._id %>/<%= question_data._pro_cat[i].name %>/" target="_blank" data-poload="/product-category/po/<%= question_data._pro_cat[i]._id %>" data-uv-triggerx="smartvote"><span class="label label-ps-category" key="_pro_cat" val="<%= question_data._pro_cat[i]._id %>">
                  <%= question_data._pro_cat[i].name %>
                  </span></a>
                  <% } %>

                  <% for(var i = 0; i < question_data._ser_cat.length; ++i) { %>
                  <a href="/service-category/<%= question_data._ser_cat[i]._id %>/<%= question_data._ser_cat[i].name %>/" target="_blank" data-poload="/service-category/po/<%= question_data._ser_cat[i]._id %>" data-uv-triggerx="smartvote"><span class="label label-ser-category" key="_ser_cat" val="<%= question_data._ser_cat[i]._id %>">
                  <%= question_data._ser_cat[i].name %>
                  </span></a>
                  <% } %>

                  <% for(var i = 0; i < question_data._pro.length; ++i) { %>
                  <a href="/product/<%= question_data._pro[i]._id %>/<%= question_data._pro[i].name %>/" target="_blank" data-poload="/product/po/<%= question_data._pro[i]._id %>" data-uv-triggerx="smartvote"><span class="label label-ps-category label-p-category" key="_pro" val="<%= question_data._pro[i]._id %>">
                  <%= question_data._pro[i].name %>
                  </span></a>
                  <% } %>

                  <% for(var i = 0; i < question_data._ser.length; ++i) { %>
                  <a href="/service/<%= question_data._ser[i]._id %>/<%= question_data._ser[i].name %>/" target="_blank" data-poload="/service/po/<%= question_data._ser[i]._id %>" data-uv-triggerx="smartvote"><span class="label label-ps-category label-s-category" key="_ser" val="<%= question_data._ser[i]._id %>">
                  <%= question_data._ser[i].name %>
                  </span></a>
                  <% } %>

                </div>
              </div>
            </div>
            <!-- User QNA Category Begin -->

            <!-- User Profile 40px Begin -->
            <!-- #DESIGN_CHANGE BEGIN -->
            <!-- <div class="col-md-3 col-sm-3 col-xs-3">
              <div class="profile-wrap">
                <a href="/user/<%= question_data._author._id %>">
                  <img class="media-object" alt="User Name displays here" src="<%= question_data._author.img_icon_url %>">
                </a>
                 <a class="quser" href="/user/<%= question_data._author._id %>"> <%= question_data._author.fullname %></a>
                 <p>Member</p>
              </div>
            </div> -->
            <!-- #DESIGN_CHANGE END -->
            <!-- User Profile 40px End -->

          </section>
          </div>
       
          <!-- qna desc footer - comment/share/report Begin -->
          <!-- #DESIGN_CHANGE BEGIN -->
          <!-- <div class="row shopex-footer""> -->
          <div class="row shopex-footer col-md-12 col-sm-12 col-xs-12" style="padding-top: 12px;">
          <!-- #DESIGN_CHANGE END -->
            <span>
              <!-- if the post is alrady thanked by the user -->
              <% if (loggedIn && question_data.meta_info.followers.indexOf(user_info._id) > -1) { %>
                <a href="#" class="zs_post_follow following">Following</a>
              <% } else { %>
                <a href="#" class="zs_post_follow follow">Follow</a>
              <% } %>
            <span>(<%= question_data.meta_info.followers ? question_data.meta_info.followers.length : 0 %>)</span>
            </span>
            
             <span class="zs_toggle_comments"><a href="#">Comment</a><span>(<%= question_data._comments.length %>)</span></span>
             <span><a href="#" class="zs_post_report hidden report">Report</a></span>
             <span><a href="#" class="zs_post_share share" data-content='<%= JSON.stringify(page_info)%>'>Share</a><span>(<%= question_data.meta_info.sharers.length %>)</span></span>
             
             <%/* if(loggedIn && question_data._author && question_data._author._id == user_info._id) { */%>
             <% if(AccessControl.postEditPermission(question_data, user_info)) { %>
              <span id="question_text_edit" class="edit"><a>Edit</a></span>
             <% } %>

          <!-- #DESIGN_CHANGE BEGIN -->
             <!-- <span id="permalink" class="date"><a target="_blank" href="/question/<%= question_data._id %>/<%= question_data.content_title %>"><%= question_data.created_at.toDateString() %></a></span> -->
             <span id="permalink" class="date"><a target="_blank" href="/question/<%= question_data._id %>/<%= question_data.url_title %>" style="font-size: 0.9em;">
             <%= formatTime(question_data.updated_at) %></a></span>
          <!-- #DESIGN_CHANGE END -->

            <% if(AccessControl.postAdminPermission(question_data, user_info)) { %>
              <span id="question_delete" class="delete edit pull-right"><a>Delete</a></span>
             <% } %>

          </div>
          <div class="col-zs-12 col-sm-12 col-md-12"><br></div>

          <!-- #DESIGN_CHANGE BEGIN -->
          <!-- <div class="col-md-3 col-sm-3 col-xs-3"> -->
          <div class="pull-right hidden">
            <div class="profile-wrap">
              <a href="/user/<%= question_data._author._id %>/<%= question_data._author.url_name %>">
                <div class="usr_profile_img_container_40" style="margin-right: 2px;">
                  <img class="media-object" alt="User Name displays here" src="<%= question_data._author.img_icon_url %>">
                </div>
              </a>
               <a class="quser hidden" href="/user/<%= question_data._author._id +"/"+ question_data.url_name %>"> <%= question_data._author.fullname %></a>
               <p class="hidden">Member</p>
            </div>
          </div>
          <!-- #DESIGN_CHANGE END -->

          <!-- qna desc footer - comment/share/report End -->
        </div>
      </div>
      <!-- Qna desc comments End -->
    </section>
    <!-- Single Question content End-->
  
    <!-- Single Question comments Begin -->
    <section id="comment-container">
      <div class="comment-container-wrap">
        <!-- comment_container_data { user_info, comments } -->
        <!-- Threaded Comment Begin -->
        
        <%/*- rendered_include('views/zs_comment_container.ejs', {comment_container_data: {user_info: user_info, comments: question_data._comments}}) */%>

        <!-- Threaded Comment End -->
      </div>
    </section> 
    <!-- Single Question comments End -->
  </div>
  <!-- <div class="post-div question-div" id="Question_x"> END -->

  <% if(user_info && question_data._answerers && question_data._answerers.indexOf(user_info._id) != -1) { %>
    <!-- Answer Already Posted div Begin -->
    <section id="userans-qna">
      <div class="userans-wrap">
        <div class="answer add-ans">                    
          <!-- <h3>Your Answer</h3> -->
          
          <div class="zs_passive_notification"><p><b>You</b> already Posted an Answer for this Question. You can <b>Edit</b> your <b><a target="_blank" href="<%= getAnswerPermalinkforAuthor(question_data._answers, user_info._id) %>">Existing Answer</a></b> to add more insights.</p></div>

        </div>
      </div>                
    </section>
    <!-- Answer Already Posted div End -->
  <% } else { %>
    <!-- Answer Input Editor Begin -->
    <section id="userans-qna">
      <div class="userans-wrap">
        <div class="answer add-ans new-post-div" id="Answer_0">                  
          <h3>Your Answer</h3>
          <% if(user_info) { %>
            <span>Answer as 
              <a id="ans-user" href="/user/<%= user_info._id %>/<%= user_info.url_name %>">
                <%= user_info.fullname %>
              </a>
            </span>
            <!-- <span>or 
              <a id="ans-anon" href="#">
                Anonymous
              </a>
            </span> -->
          <% } else { %>
            <span> 
              <a target="_blank" href="/login">
                Login
              </a> or
              <a target="_blank" href="/login">
                signup
              </a> To Post an Answer
            </span>
          <% } %>
          <div class="panel-body answer_input_editable non-active" id="answer_input_editable" cols="50" name="comment" placeholder="Add your answer to the question..." rows="10" contenteditable="true"></div>
          <!-- <textarea class="comment-content animated" cols="70" name="Answer" placeholder="Add your answer to the question..." rows="5"></textarea> -->

          <button class="btn btn-comment question-answer-btn"> Add Answer </button>
        </div>
      </div>                
    </section>
    <!-- Answer Input Editor End -->
  <% } %>

  <!-- ANSWER List begin -->
  <section id="qna-acontent" class="zs_answer_count">              
    <h3><span><%= question_data._answers.length %></span> Answers</h3>  

    <div class="answer_list">
    <!-- First Answer Begin -->
    <% for(var i = 0; i < question_data._answers.length; ++i) { %>
      <%/* #TODO Here only top answers which are populated in question_data will get rendered, others need to be lazily loaded and rendered over ajax call on scroll down, or "load more answers" button*/%>
      <% if((question_data._answers[i]) && (typeof(question_data._answers[i]) == "object")) { %>
        <%- rendered_include('views/zs_single_answer.ejs', {
          user_info: user_info,
          answer_data: question_data._answers[i],
          question_data: question_data,
          }) %>
      <% } %>
    <% } %>
    </div>
    <!-- First Answer End -->

  </section>
  <!-- ANSWER List End -->
</section>
<!-- Single Question page main column End -->
