<!DOCTYPE html>
<html lang="en">

  <%- include zs_head_meta.ejs %>

  <head>
    <title> <%= single_pro_cat_page_data.pro_cat_data.name %> - Zorsay</title> <!-- #TODO#DONE put the question title here -->
  </head>

  <body>
    <!-- Notification on Page Begin -->
    <%- include zs_global_notification.ejs %>
    <!-- Notification on Page Ends -->
    
    <!-- ZS all qna full Page begin -->
    <section id="zs-qna-page">

      <!-- ZS Fixed navbar begin -->
      <%- rendered_include('views/zs_navbar.ejs', {navbar_data: single_question_page_data.navbar_data}) %>
      <!-- ZS Fixed navbar end -->

      <div class="container">

        <!-- ZS top header begin -->
        <%- include zs_top_header.ejs %>
        <!-- ZS top header end -->

        <!-- ZS all shopex listing begin -->
        <section id="qna-page" style="padding-top: 20px;">
          <%- include zs_banner_take_tour.ejs %>
          
          <!-- Question main row begin -->
          <div class="row">
            <!-- Single QNA page main column begin -->
            
            <%- rendered_include('views/zs_single_pro_cat.ejs', { 
              pro_cat_data: single_question_page_data.question_data, 
              user_info: single_question_page_data.navbar_data.user_info,
              loggedIn: single_question_page_data.loggedIn,
              page_info: page_info,
              }) %>
            <!-- Single QNA page main column end -->

            <!-- Question right sidebar begin -->
            <%- rendered_include('views/zs_right_sidebar.ejs', {
              page_info: page_info,
              }) %>
            <%/*- include zs_right_sidebar.ejs */%>
            <!-- Question right sidebar end -->            
          </div>
          <!-- Question main row end -->
        </section>
        <!-- ZS all question listing end -->
      </div>
      <!-- div class="container" end -->
    </section>
    <!-- section id="zs-all-question-page" end -->
    
    <!-- ZS Page Footer begin -->
    <div id="zs_some_footer"></div>
    <%//- include zs_end_footer.ejs %>
    <!-- ZS Page Footer end -->
    
    <!-- ZS Single Question Page end -->

    <!-- start loading and running the scripts -->
    <script data-main="/js/zs_single_question_page" type="text/javascript" src="/js/libs/require.js"></script>

  </body>
</html>