<!DOCTYPE html>
<html lang="en">

  <%- include zs_head_meta.ejs %>
  <%- include zs_external_scripts %>

  <% var qd = single_question_page_data.question_data;%>

  <% var primary_author = qd._author ? qd._author.fullname : "" %>
  <% var title_str = ""; %>
  <% var authors_list_str = ""; %>
  <% var description_str = ""; %>
  <% var keywords_list_str = ""; %>
  <% var share_image = ""; %>

  <% 
    var share_default_image = share_default_square_image;

    var content_img_regexObj = (/\<img[^\>]+\>/.exec(qd.content_text));
    var content_img_html =  content_img_regexObj ? content_img_regexObj[0] : "";

    if (content_img_html) {
      var img_url_regex = content_img_html.match(/src\s*=\s*\"([^\"]+)\"/);
      if (img_url_regex){
        share_image = img_url_regex[1];
      } else {
        share_image = share_default_image; 
      }
    } else {
      share_image = share_default_image; 
    }
  %>

  <%
    /*if(primary_author){
      title_str += primary_author + " Asked: ";
    }*/
    title_str += qd.content_title;
  %>

  <%
    var authors_list_arr = []
    authors_list_arr.push(qd._author ? qd._author.fullname : "");

    for(var i = 0; i < qd._answers.length; ++i) {
      if((qd._answers[i]) && 
        (typeof(qd._answers[i]) == "object")) {
        var aa = qd._answers[i]._author ? qd._answers[i]._author.fullname : ""
        if ((aa) && (authors_list_arr.indexOf(aa) == -1)){
          authors_list_arr.push(aa);
        }
      }
    }
    if (authors_list_str.length == 0){
      authors_list_str.concat(site_authors);
    }
    authors_list_str = makeStr(authors_list_arr);
  %>

  <%
    if (qd.content_text){
      var qtext = truncateStr(qd.content_text.replace(/\"/g, '\''), 300);
      description_str = qtext;
    } else if (qd._answers.length > 0) {
      description_str = truncateStr(qd._answers[0].content_text, 300);
    }
  %>

  <%
    var keywords_list_arr = ["Online Shopping", "Question", "Answer"];

    for(var i = 0; i < qd._seller.length; ++i) {
      keywords_list_arr.push(qd._seller[i].name);
    }
    for(var i = 0; i < qd._pro_cat.length; ++i) {
      keywords_list_arr.push(qd._pro_cat[i].name);
    }
    for(var i = 0; i < qd._ser_cat.length; ++i) {
      keywords_list_arr.push(qd._ser_cat[i].name);
    }
    for(var i = 0; i < qd._pro.length; ++i) {
      keywords_list_arr.push(qd._pro[i].name);
    }
    for(var i = 0; i < qd._ser.length; ++i) {
      keywords_list_arr.push(qd._ser[i].name);
    }
    keywords_list_arr.concat(authors_list_arr);
    keywords_list_str = makeStr(keywords_list_arr);
  %>


  <head>
    <title> <%= title_str %> - Zorsay</title><!-- #TODO#DONE put question title here -->
    
    <meta name="keywords" content="<%= keywords_list_str %>">
    <meta name="description" content="<%= description_str %>">
    <meta name="author" content="<%= authors_list_str %>">
    <link rel="canonical" href="<%= page_info ? page_info.page_link : '' %>">

    <meta property="og:title" content="<%= title_str %>"/><!-- 95 chars -->
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="<%= share_image %>"/>
    <!-- specify a square image to ensure the best visibility -->
    <meta property="og:url" content="<%= page_info ? page_info.page_link : '' %>"/>
    <meta property="og:description" content="<%= description_str %>"/><!-- 297 chars-->
    
    <meta property="fb:admins" content="683593457,674922635874976"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="<%= page_info ? page_info.page_link : '' %>">
    <meta name="twitter:title" content="<%= title_str %>"><!-- 70 chars -->
    <meta name="twitter:description" content="<%= description_str %>"><!-- 200 chars -->
    <meta name="twitter:image" content="<%= share_image %>">
    <!-- specify a square image no smaller than 60×60 pixels -->
    <meta name="twitter:domain" content="zorsay.com">
  </head>

  <body>
    <!-- Notification on Page Begin -->
    <%- include zs_global_notification.ejs %>
    <!-- Notification on Page Ends -->
    
    <!-- ZS all qna full Page begin -->
    <section id="zs-qna-page">

      <% /*console.log(all_shopex_data.shopex_main_column_data)*/ %>

      <!-- ZS Fixed navbar begin -->
      <%//- include zs_navbar.ejs %>
      <%//- rendered_include('views/zs_navbar.ejs', {navbar_data: navbar_data}) %>
      <%- rendered_include('views/zs_navbar.ejs', {navbar_data: single_question_page_data.navbar_data}) %>
      <%//- rendered_include('views/zs_navbar.ejs', {navbar_data: {user_info: {name: {first: "Vinit", last: "Agrawal"}, pub_id: 13731 }, }, }) %>
      <!-- ZS Fixed navbar end -->

      <div class="container">

        <!-- ZS top header begin -->
        <%//- include zs_top_header.ejs %>
        <!-- ZS top header end -->

        <!-- ZS all shopex listing begin -->
        <!-- #DESIGN_CHANGE BEGIN -->
        <!-- <section id="qna-page"> -->
        <section id="qna-page" style="padding-top: 20px;">
        <!-- #DESIGN_CHANGE END -->
          <%- include zs_banner_take_tour.ejs %>
          
          <!-- Question main row begin -->
          <div class="row">
            <!-- Single QNA page main column begin -->
            <%//- include zs_shopex_main_column.ejs %>
            <%// console.log("RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR") %>
            <%// console.log(single_shopex_page_data) %>
            <%// console.log(single_shopex_page_data.single_shopex_data) %>
            
            <%- rendered_include('views/zs_single_question.ejs', { 
              question_data: qd, 
              user_info: single_question_page_data.navbar_data.user_info,
              loggedIn: single_question_page_data.loggedIn,
              page_info: page_info,
              }) %>
            <!-- Single QNA page main column end -->

            <!-- Question right sidebar begin -->
            <%- rendered_include('views/zs_right_sidebar_populated.ejs', {
              side_bar_data: side_bar_data,
              page_info: page_info,
              }) %>
            <%/*- include zs_right_sidebar.ejs */%>
            <!-- Question right sidebar end -->            
          </div>
          <!-- Question main row end -->
        </section>
        <!-- ZS all question listing end -->
      </div>
      <!-- div class="container" end -->
    </section>
    <!-- section id="zs-all-question-page" end -->
    
    <!-- ZS Page Footer begin -->
    <div id="zs_some_footer"></div>
    <%//- include zs_end_footer.ejs %>
    <!-- ZS Page Footer end -->
    
    <!-- ZS Single Question Page end -->

    <!-- start loading and running the scripts -->
    <script data-main="/js/zs_single_question_page" type="text/javascript" src="/js/libs/require.js"></script>

  </body>
</html>