<!DOCTYPE html>
<html lang="en">

  <%- include zs_head_meta.ejs %>
  <%- include zs_external_scripts %>

  <head>
    <title>Your Profile - Zorsay</title> <!-- #TODO put the full shopex title here -->
  </head>

  <body>
    <!-- Notification on Page Begin -->
    <%- include zs_global_notification.ejs %>
    <!-- Notification on Page Ends -->
    
    <!-- ZS single Shopex Page begin -->
    <section id="zs-login-page">

      <!-- ZS Fixed navbar begin -->
      <%- rendered_include('views/zs_navbar.ejs', {navbar_data: navbar_data}) %>
      <!-- ZS Fixed navbar end -->

      <div class="container">

        <!-- ZS top header begin -->
        <%- include zs_top_header.ejs %>
        <!-- ZS top header end -->

        <!-- ZS user profile begin -->
        <%- rendered_include('views/zs_user_profile.ejs', {main_data: main_data}) %>
        <!-- ZS user profile end -->
        
      </div>
      <!-- div class="container" end -->
    </section>
    <!-- section id="zs-all-shopex-page" end -->
    
    <!-- ZS Page Footer begin -->
    <div id="zs_some_footer"></div>
    <%//- include zs_end_footer.ejs %>
    <!-- ZS Page Footer end -->

    <!-- ZS Single Shopex Page end -->

    <%//- rendered_include('views/zs_user_profile_edit_modal.ejs', {main_data: main_data}) %>

    <!-- start loading and running the scripts -->
    <script data-main="/js/zs_user_profile_page" type="text/javascript" src="/js/libs/require.js"></script>

  </body>
</html>